<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Type Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="type-update.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("name")</label></td>
				<td>
					<input type="text" name="name" id="name" value="$!{type.name}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("order")</label></td>
				<td>
					<input type="text" name="order" id="order" value="$!{type.order}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desc")</label></td>
				<td>
					<input type="text" name="desc" id="desc" value="$!{type.desc}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status" value="$!{type.status}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isDelete")</label></td>
				<td>
					<input type="text" name="isDelete" id="isDelete" value="$!{type.isDelete}"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->