<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>多才多艺群策网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <script src="bower_components/jquery/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    #include("common/head.vm")
<div class="ch-container">

<div class="row" style="width:1000px;margin:0 auto">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
            <ul class="breadcrumb">
			        <h3>注册成功</h3>
			    </ul>
               		 <div class="input-group col-md-6" style="width:400px;margin:0 auto;align:center;height:250px;">
                   			<h2><i class="glyphicon glyphicon-ok-sign"></i> &nbsp; 恭喜您，注册成功！</h2>
                   			<p style="width:400px;text-align: center;"><a href="/member-center.htm">点击登录</a></p>
                    </div>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
		 				
    <hr>
</div>
   #include("common/footer.vm")
</body>
</html>
