<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Category Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<table class="table table-striped table-bordered responsive">
	<tr>
		<td><label for="status">#springMessage("id")</label></td>
		<td>
			$!{category.id}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("pid")</label></td>
		<td>
			$!{category.pid}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("name")</label></td>
		<td>
			$!{category.name}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("status")</label></td>
		<td>
			$!{category.status}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("createdDate")</label></td>
		<td>
			$!{category.createdDate}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("creator")</label></td>
		<td>
			$!{category.creator}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("isDelete")</label></td>
		<td>
			$!{category.isDelete}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("type")</label></td>
		<td>
			$!{category.type}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("desc")</label></td>
		<td>
			$!{category.desc}
		</td>
	</tr>
</table>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->