<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Industry Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="industry-insert.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("industryName")</label></td>
				<td>
					<input type="text" name="industryName" id="industryName"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desc")</label></td>
				<td>
					<input type="text" name="desc" id="desc"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("totalProjectNum")</label></td>
				<td>
					<input type="text" name="totalProjectNum" id="totalProjectNum"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isDelete")</label></td>
				<td>
					<input type="text" name="isDelete" id="isDelete"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("createDate")</label></td>
				<td>
					<input type="text" name="createDate" id="createDate"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("creator")</label></td>
				<td>
					<input type="text" name="creator" id="creator"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("changeDate")</label></td>
				<td>
					<input type="text" name="changeDate" id="changeDate"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("changeMan")</label></td>
				<td>
					<input type="text" name="changeMan" id="changeMan"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->