
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>交易管理</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-2">
        <div class="am-form-group am-input-group-sm">
         <input type="text" class="am-form-field" value="买家ID">
        </div>
      </div>
      
      
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有类别</option>
            <option value="option2">IT业界</option>
            <option value="option3">数码产品</option>
            <option value="option3">笔记本电脑</option>
            <option value="option3">平板电脑</option>
            <option value="option3">只能手机</option>
            <option value="option3">超极本</option>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12">
<ul class="am-tabs-nav am-nav am-nav-tabs">
      	<li #if($status=="0") class="am-active" #end><a href="my-sale-trades.htm?status=0">所有订单</a></li>
      	<li #if($status=="1") class="am-active" #end><a href="my-sale-trades.htm?status=1">等待付款</a></li>
      	<li #if($status=="2") class="am-active" #end><a href="my-sale-trades.htm?status=2">等待发货</a></li>
      	<li #if($status=="3") class="am-active" #end><a href="my-sale-trades.htm?status=3">已经发货</a></li>
      	<li #if($status=="4") class="am-active" #end><a href="my-sale-trades.htm?status=4">已经完成</a></li>
      	<li #if($status=="5") class="am-active" #end><a href="my-sale-trades.htm?status=5">已经超时</a></li>
      </ul>
   </div>
   </div>   
   
    <div class="am-g">
      <div class="am-u-sm-12">
      
      
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-title" width="110px;">图片</th><th class="table-title" width="220px">商品名称</th><th class="table-title" width="60px">数量</th><th class="table-title" width="60px">价格</th><th class="table-title" width="60px">实付金额</th><th class="table-title"  width="60px">交易状态</th><th>交易操作</th>
              </tr>
          </thead>
          </table>
          
          #foreach($item in $!items)
           <table class="am-table am-table-striped am-table-hover table-main">
          <tbody>
          	<tr>
          		<td>2015-09-12</td><td>订单号： 1334312877470269</td><td></td><td width="120px" colspan="5">买家ID：lygmqb <a class="am-btn am-btn-default am-btn-xs am-text-secondary" title="备注"><span class="am-icon-pencil-square-o"></span></a></td>
          	</tr>
          	#foreach($order in $item.orders)
            <tr>
              <td width="110px"><image src="./detail/1449548347936.jpg_400x400.jpg" width="110px"></td>
              <td width="220px"><a href="#">$order.title[交易快照]</a></td>
              <td width="60px">$order.price</td>
              <td style="width:60px">$order.num</td>
              <td width="60px">$order.realPay</td>
              <td width="60px">$!order.status 等待签收</td>
              <td>取消交易</td>
            </tr>
            #end
          </tbody>
        </table>
         #end
           <div class="am-cf">
 <form id="form1" name="form1></form>
			#pageNavigation($!pageInfo,'form1')
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>