.type-file-text {
    height:22px;
    border:1px solid #cdcdcd;
    width:180px;
}
.type-file-button {
    background-color:#FFF;
    border:1px solid #CDCDCD;
    height:24px;
    width:70px;
}
.type-file-file {
    position:absolute;
    top:0;
    right:0;
    height:24px;
filter:alpha(opacity:0);
    opacity: 0;
    width:260px
}
.table-border{border:solid 1px #ddd;}
.margintop12{margin-top: 12px;}
.margintop9{margin-top: 9px;}
.margintop6{margin-top: 6px;}
.margintop3{margin-top: 3px;}
.button_line{
	width: 100%;
    padding: 5px 0;
    overflow: hidden;
    border-bottom: 1px dashed #e5e5e5;
    font-size: 14px;
    position: relative;
}
.cateSelect{
    line-height:35px;
    text-align:right;
    font-size:1.5rem;
    font-family: "微软雅黑";
    color: #4a4a4a;	
    
}