    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>快递模板设置</small></div>
    </div>

  	<div class="am-g">
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <a class="am-btn am-btn-default" href="transport-tool-add.htm"><span class="am-icon-plus"></span> 新增</a>
          </div>
        </div>
      </div>
    </div>
   <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                 <th>模板名称</th><th>包邮</th><th class="table-title">首件(重)</th><th class="table-type">起运费(元)</th><th class="table-date am-hide-sm-only">续件(重)</th><th>续运费(元)</th><th>操作</th>
              </tr>
          
          #foreach($foo in $items)
            <tr>
              <td>$!foo.tittle</td>
              <td>$!foo.freeArea</td>
              <td>$!foo.fee</td>
              <td>$!foo.firstFee</td>
              <td>$!foo.exWeight</td>
              <td>$!foo.exWeightFee</td>
              <td> <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="transport-tool-edit.htm?id=$!{foo.id}" title="编辑"><span class="am-icon-pencil-square-o" title="编辑"></span></a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-danger btn-del" title="删除" id="$!foo.id"><span class="am-icon-trash-o"></span></a>
                  </div>
                </div></td>
            </tr>

         #end
           </table>        



          <hr />
          <p>注：最多可以设置5个模板</p>

      </div>

    </div>
    
        <link href='/css/jquery.qtip.min.css' rel='stylesheet'>
<link href='/css/jquery.qtip.css' rel='stylesheet'>
<script src="/js/jquery.qtip.min.js"></script>
<script>
	jQuery(".btn-del").each(function(){jQuery(this).qtip({
		content: {
			text: "#springMessage("confirm")<br/><br/><input type='button' value='#springMessage("delete")' onclick='del("+jQuery(this).attr('id')+")' class='btn btn-danger'>  <input type='button' value='#springMessage("cancel")' class='btn cancel'>",
			title: "#springMessage("delete")",
			button: "#springMessage("cancel")",
		},
		
		position: {
			my: 'bottom right',
			at: 'top center'
		 },
		style: {
			classes: 'qtip-shadow qtip-bootstrap'
		},
		show: {
			event: 'click', // Show it on click...
			solo: true, // ...and hide all other tooltips...
			modal: true // ...and make it modal
		  },
		hide: true,
		events: {
            render: function(event, api) {
                $('.cancel').click(function(e) {
                    api.hide(e);
                });
            },
          //  hide: function(event, api) { api.destroy(); }
        }

	});})
	
	function del(id){
		window.location.href='transport-tool-del.htm?id='+id;
	}
	
	function filterBtn(){
		$("#form1").submit();
	}
</script>