<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Topic Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="topic-update.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("title")</label></td>
				<td>
					<input type="text" name="title" id="title" value="$!{topic.title}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desc")</label></td>
				<td>
					<input type="text" name="desc" id="desc" value="$!{topic.desc}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("content")</label></td>
				<td>
					<input type="text" name="content" id="content" value="$!{topic.content}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("creator")</label></td>
				<td>
					<input type="text" name="creator" id="creator" value="$!{topic.creator}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("createDate")</label></td>
				<td>
					<input type="text" name="createDate" id="createDate" value="$!{topic.createDate}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("changeMan")</label></td>
				<td>
					<input type="text" name="changeMan" id="changeMan" value="$!{topic.changeMan}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("changeDate")</label></td>
				<td>
					<input type="text" name="changeDate" id="changeDate" value="$!{topic.changeDate}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("categoryId")</label></td>
				<td>
					<input type="text" name="categoryId" id="categoryId" value="$!{topic.categoryId}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("pic")</label></td>
				<td>
					<input type="text" name="pic" id="pic" value="$!{topic.pic}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("url")</label></td>
				<td>
					<input type="text" name="url" id="url" value="$!{topic.url}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status" value="$!{topic.status}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desgnerNum")</label></td>
				<td>
					<input type="text" name="desgnerNum" id="desgnerNum" value="$!{topic.desgnerNum}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("districtId")</label></td>
				<td>
					<input type="text" name="districtId" id="districtId" value="$!{topic.districtId}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("districtName")</label></td>
				<td>
					<input type="text" name="districtName" id="districtName" value="$!{topic.districtName}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("industryCategoryId")</label></td>
				<td>
					<input type="text" name="industryCategoryId" id="industryCategoryId" value="$!{topic.industryCategoryId}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("industryCategoryName")</label></td>
				<td>
					<input type="text" name="industryCategoryName" id="industryCategoryName" value="$!{topic.industryCategoryName}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isValidated")</label></td>
				<td>
					<input type="text" name="isValidated" id="isValidated" value="$!{topic.isValidated}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("checkedMan")</label></td>
				<td>
					<input type="text" name="checkedMan" id="checkedMan" value="$!{topic.checkedMan}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isShowIndex")</label></td>
				<td>
					<input type="text" name="isShowIndex" id="isShowIndex" value="$!{topic.isShowIndex}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isDelete")</label></td>
				<td>
					<input type="text" name="isDelete" id="isDelete" value="$!{topic.isDelete}"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->