<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>律云——找回密码</title>
<link href="/css/find_passWord/change_password2.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/common/jquery-1.8.2.min.js"></script>
<link rel="icon" href="/qwerty.ico"/>
<script type="text/Javascript">


	function checkName(userName){
		 var phoneNo = $("#userName").val();
		 $("#userName").val(phoneNo);
		 var patrna=/[\u4E00-\u9FA5]|[\uFE30-\uFFA0]/gi ;       //中文字符
		 var patrnc= /^1[3|4|5|8][0-9]\d{4,8}$/;
		   
		 if (phoneNo=="" ||  phoneNo.length>11 || phoneNo.length<11|| patrna.exec(phoneNo)|| !patrnc.exec(phoneNo)) {
			 alert("输入的用户名格式不正确！")
			return false; 		
	 	 }else{
		   	return true; 
	 	 }
		
	}

    function findMyPassWord(){
    	var userName = $("#userName").val();  	
    	userName=jQuery.trim(userName);
    	if(!checkName(userName)){
    		return false;
    		
    	}else{
    		window.location = 'findMyPassWord.htm?userName='+userName;
    		return false;
    	}
    }






</script>
</head>
<body>
#parse("common/head.vm")
<div class="register">
  <div class="title">
    <a>欢迎使用律云在线律师服务平台</a>
  </div>
  <div class="register_information">
    <h1>找回密码</h1>
    <table width="520" border="0" cellpadding="0" cellspacing="0"  style="margin:30px auto">
      <tr height="32">
        <td width="120" style="text-align:right;"><a><span>*</span>账号：</a></td>
        <td width="320"><input type="text" class="windows" id="userName" name="userName" value="手机号" onFocus="if(value==defaultValue){value='';this.style.color='#676767'}" onBlur="if(!value){value=defaultValue;this.style.color='#bfbfbf'}" style="color:#bfbfbf"></td>
        <td width="80"></td>
      </tr>

      <tr height="24">
        <td></td>
        <td><font color="red">*</font><i>用户注册或者个人资料中保存的手机号码</i></td>
        <td></td>
      </tr>

    </table>
    
    <input type="button" value="确定" class="register_button" onclick="findMyPassWord()" />
  
  </div>

</div>
#parse("common/commonFooter.vm")
</body>
</html>
