<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户找回密码页面</title>
<link href="/css/find_passWord/find_password.css" rel="stylesheet" type="text/css" />
<link href="css/account/check_img.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/common/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/common/customInput.jquery.js"></script>
<link rel="icon" href="/qwerty.ico"/>
<script type="text/javascript">
var findPassWord_flag="true";
var check_findPassWord_code="false";
var wait=60; 
var countDown = $!{countDown};

function updateNum() { 
	   if(countDown == 0||countDown==60) { 
		   
		   
		   $("#findPassWord_code_btn").val("免费获取验证码");  
		   $("#findPassWord_code_btn").removeAttr("disabled")  ; 
		   findPassWord_flag="true";
		   check_findPassWord_code="false";
		 
	   }  
	   else {    
		   var temp=countDown +"秒后可以重新发送";
		   $("#findPassWord_code_btn").val( temp);  
	        countDown=countDown-1;
	   }  
	}
function test(){
	$("#findPassWord_code_btn").attr("disabled","disabled");	   	 
	  setInterval('updateNum()',  1000);  
	  
}	


function checkImgCode(){
	var iWidth =  document.documentElement.clientWidth; 
	var iHeight = document.documentElement.clientHeight; 
	
	var bgObj =  document.createElement("div"); 
	
	bgObj.style.cssText = "position:fixed;left:0;top:0px;width:"+iWidth+"px;height:"+Math.max(document.body.clientHeight, iHeight)+"px;filter:Alpha(Opacity=60);opacity:0.7;background-color: #000;z-index:999991;";
	document.body.appendChild(bgObj); 
	
	var msgObj= document.getElementById("checkImgWin");
	msgObj.style.cssText = "position: fixed;top: 35%;left: 35%;z-index:999992;";
	msgObj.style.display  = "block";
	
	
	 $("#changeImg").trigger("click");
	 $("#imgCode").val("");
	 $("#changeImgFlag").html("");
	 
	 
    
    
    
	
	
	//点击关闭按钮关闭窗口
	var closeBtn =  document.getElementById("imgCkeckClose");
	closeBtn.onclick = function(){ 
		msgObj.style.display  = "none";
		 document.body.removeChild(bgObj); 
		 return false;
		
	} 
	
	//点击确认按钮窗口
	var cancleBtn =   document.getElementById("checkImgconfirm");
	cancleBtn.onclick = function(){ 
		
		var imgCode = $("#imgCode").val();
		if(imgCode==""){
			$("#changeImgFlag").html("验证码不能为空！");
			return false;
		}
		
		jQuery.ajax({
  		  url:"checkImgCode.htm",
  		  data:"imgCode="+$("#imgCode").val()+"&userName="+$("#userName").val(),
  		  type: "POST",
  		  async: false,
  		  success:function(result){  
  			
  			  if(result=="false"){
  				  $("#changeImgFlag").html("验证码不正确！");
  				  return false;
  				
  			  }else{
  				 msgObj.style.display  = "none";
	      			 document.body.removeChild(bgObj); 
	      			 
	      			  jQuery.ajax({
	      				  url:"send-findPassWord-sms.htm",
	      				  async: false,
	      				  data:"userName="+$("#userName").val()+"&countTime="+countDown,
	      				  type: "POST",
	      				  dataType:"text",
	      				  success:function(msg){ 
	      					  msg=Number(msg);
	      					  if(msg>0){
	      						  countDown=msg;
	      					  }
	      					  else{
	      						  countDown=60;
	      					  }  
	      					  test();
	      				  }
	      				  
	      			  });
	      			  findPassWord_flag="false";
	      			 
	      			  return false;;
  			  }
  		  }
  		  
  	});
		
		
		
		
	} 
	
	 
    // 获得Event对象，用于兼容IE和FireFox
    function getEvent() {
	    return window.event || arguments.callee.caller.arguments[0];
    }
  
  
}



	
	
$(function(){  
	 

	
  //可以发送验证码
  $("#findPassWord_code_btn").click(function(){
	  
	  if(findPassWord_flag=="true"){
		 
		  
		  
		  checkImgCode();

	  
	  }
	  
  });
  
  
  $("#changeImg").click(function(){

		$("#imgCkeck_img").attr("src","/randnum.jpg?"+Math.floor(Math.random()*100));
		return false;
	});
  
  
  
  
	
	
 
  
});
   
  // 验证码正确
  function checkRegisterCode(){
	   if(findPassWord_flag=="false" && check_findPassWord_code=="false"){
		   jQuery.ajax({
	    		  url:"check-findPassWord-code.htm",
	    		  data:"userName="+$("#userName").val()+"&code="+$("#findPassWord_code").val(),
	    		  type: "POST",
	    		  async: false,
	    		  success:function(msg){  
	    			  if(msg==0){
	    				  check_findPassWord_code="true";
	    				  return true;
	    			  }else{
	    				  check_findPassWord_code="false";
	    				  $("#messageCode").html("请输入正确的验证码");
	    				   $("#messageCode").show();
	    				   return false;
	    			  }
	    		  }
	    		  
	    	});
	   }
	  
  }
  
  
  function checkSubmit(){
	    
	    var send_code = $("#findPassWord_code").val();
	    if(send_code==''){
	    	$("#messageCode").html("验证码不能为空！");
			$("#messageCode").show();
	    	return false;
	    }
	    

		var userName = $("#userName").val();
		
		
			 jQuery.ajax({   
		            url:"findMyPassWordToToken.htm",
		            type: "POST",  
		            dataType:"text",
		            data:"userName="+userName+"&code="+$("#findPassWord_code").val(),
		            success:function(result){
		               if(result>0){   
		            	    $("#showtitle").html("找回密码成功");
		            		$("#check_phone").show();
		            		$("#check_index").hide();
		            		return false;
		            		
		               }else if(result<0){
		            	   $("#messageCode").html("请输入正确的验证码");
	    				   $("#messageCode").show();
			           		return false;
		            	   
		               }else if(result=="error"){
		            	   $("#showtitle").html("找回密码失败,请联系管理员！");
			           		$("#check_phone").show();
			           		$("#check_index").hide();
			           		return false;
		            	   
		               }
		             }

		           });

		
	}
    
  
	$(function(){
		
		var isCheckEmail = "$!{isCheckEmail}";
		if(isCheckEmail=="true"){
			$("#haveEmail").show();
			$("#noEmail").hide();
		}else{
			$("#noEmail").show();
			$("#haveEmail").hide();
		}
	});
	
	function sendEmail(){  
		
    	jQuery.ajax({   
	            url:"findpassword-email.htm",
	            type: "POST",  
	            dataType:"text",
	            data:"userName="+$("#userName").val()+"&email="+$("#email").val(),
	            success:function(result){
	            	if(result>0){   
	            	    $("#showtitle").html("找回密码成功");
	            		$("#check_email").show();
	            		$("#check_index").hide();
	            		return false;
	            		
	               }else{
	            	   $("#showtitle").html("找回密码失败,请联系管理员！");
		           		$("#check_email").show();
		           		$("#check_index").hide();
		           		return false;
	            	   
	               }
	             }

	           });
	}
	
	
	 
	function checkImgCodeing(){
		$("#changeImgFlag").html("");
	}
	
	

</script>
</head>
<body>
#parse("common/head.vm")
<div class="find_password">
  <div class="title">
    <a>欢迎使用律云在线律师服务平台</a>
  </div>
  <div class="find_password_info">
    <h1 id="showtitle">忘记密码</h1>


    <div class="nTab" id="check_index">     
  <div class="TabTitle">
    <ul id="myTab0">
      <li class="active phone" onclick="nTabs0();">通过手机找回</li>
      <li class="normal email" onclick="nTabs1();">通过绑定邮箱找回</li>
    </ul>
  </div>
  <!-- 内容开始 -->
  <div class="TabContent">
    <div class="myTab0_Content0">
    
    <table width="560" border="0" cellpadding="0" cellspacing="0" class="find_password_table">
      <tr height="32">
        <td width="120" style="text-align:right;"><a>手机号码：</a></td>
        <td width="440"><input type="text" class="windows" id="userName" name="userName" value="$!{userName}" disabled="disabled" ></td>
        <td></td>
      </tr>

      <tr height="16">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
      <tr height="32">
        <td style="text-align:right"><a>验证码：</a></td>
        <td><input type="text" class="certification_code" id="findPassWord_code" name="findPassWord_code" /><input type="button" class="deliver" id="findPassWord_code_btn" value="发送验证码" /></td>
        <td></td>
      </tr>

      <tr height="32">
        <td></td>
        <td><span id="messageCode" style="color:red"></span> </td>
        <td></td>
      </tr>
      
      <tr height="32">
        <td></td>
        <td>
          <input type="button" value="提交" class="find_password_button" onclick="checkSubmit()" />
        </td>
        <td></td>
      </tr>  
    </table>    
    
    
   
    </div>
    
    <div class="myTab0_Content1"style=" display: none;">
     <div id="haveEmail">
     <table width="560" border="0" cellpadding="0" cellspacing="0" class="find_password_table">
      <tr height="32">
        <td width="120" style="text-align:right;"><a><span>*</span>账号：</a></td>
        <td width="440"><input type="text" class="windows" value="$!{userName}" disabled="disabled"></td>
      </tr>

      <tr height="16">
        <td></td>
        <td></td>
      </tr>
      
      <tr height="32">
        <td style="text-align:right"><a><span>*</span>邮箱地址：</a></td>
        <td><input id="email" name="email" type="text" class="windows" value="$!{email}" disabled="disabled"></td>
      </tr>

      <tr height="32">
        <td></td>
        <td></td>
      </tr>
      
      <tr height="32">
        <td></td>
        <td>
          <input type="button" value="发送验证邮件" class="find_password_button" onclick="sendEmail()" />
        </td>
      </tr>  
    </table> 
    </div>
     <div id="noEmail" style=" display: none;">
     <table width="560" border="0" cellpadding="0" cellspacing="0" class="find_password_table">
      <tr height="32">
        <td width="120" style="text-align:right;"><a><span>*</span>对不起！由于你的账户没有绑定邮箱，暂时无法使用该功能！</a></td>
      </tr>
    </table>
    </div>
    </div>
  </div>
</div>
<div class="nTab" id="check_phone" style=" display: none;">   
     <table width="560" border="0" cellpadding="0" cellspacing="0" class="find_password_table">
      <tr height="32">
        <td width="120" style="text-align:right;"><a>您好！你的新密码已经发送到您的手机，请收到后尽快修改密码！</a><a href="index.htm"><span style=" color: blue; font-size: 14px;">&nbsp;&nbsp;返回首页</span></a></td>
      </tr>
    </table>
</div>

<div class="nTab" id="check_email" style=" display: none;">
    <table width="560" border="0" cellpadding="0" cellspacing="0" class="find_password_table">
      <tr height="32">
        <td width="120" style="text-align:right;"><a>您好！你的新密码已经发送到您的邮箱，请收到后尽快修改密码</a><a href="index.htm"><span style=" color: blue; font-size: 14px;">&nbsp;&nbsp;返回首页</span></a></td>
      </tr>
    </table>

</div>
<script type="text/javascript">
function nTabs0(){
	$('.phone').addClass("active");
	$('.phone').removeClass("normal");
	$('.myTab0_Content0').show();
	$('.myTab0_Content1').hide();
	$('.email').addClass("normal");
	$('.email').removeClass("active");
	
}
function nTabs1(){
	$('.email').addClass("active");
	$('.email').removeClass("normal");
	$('.myTab0_Content1').show();
	$('.myTab0_Content0').hide();
	$('.phone').addClass("normal");
	$('.phone').removeClass("active");
	
}
 
</script>




  </div>
</div>
<center>

<div id="checkImgWin" class="windows1" style="display: none;">
   <div class="windows1_title" >
     <h1>图片验证</h1>
    <input type="button" id="imgCkeckClose" class="close" />
  </div>
  <div class="windows1_content">
    <h2>请输入右侧的验证码</h2>
    
     <div class="yanzheng">
      <ul class="yanzheng-L">
        <li> <input id="imgCode" name="imgCode" type="text" class="code" onclick="checkImgCodeing()"/></li>  
        <li><span id="changeImgFlag" style="color:red" ></span></li>
      </ul>
      
        <ul class="yanzheng-R">
        <li><img src="/randnum.jpg" id="imgCkeck_img" /></li>
         <li><p id="changeImg" >看不清，换一张</p></li>
      </ul>
    </div>
    
    <input type="button" value="确定" id="checkImgconfirm" class="confirm1" style=" cursor: pointer;" />
  </div>
</div>


</center>
#parse("common/commonFooter.vm")
</body>
</html>
