<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Comments Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">
<div class="row"><div class="col-md-12 "><a href="/comments-add.htm" class="btn btn-success"><strong>Add</strong></a> </div></div>
<table class="table table-striped table-bordered responsive">
 <thead>
  <tr>
	<td><label for="status">#springMessage("id")</label></td>
	<td><label for="status">#springMessage("topicId")</label></td>
	<td><label for="status">#springMessage("comments")</label></td>
	<td><label for="status">#springMessage("creator")</label></td>
	<td><label for="status">#springMessage("createDate")</label></td>
	<td>Operation</td>
  </tr>
 </thead>
 <tbody>
#foreach($item in $items)
  <tr>
	<td> $!{item.id} </td>
	<td><a href="/comments-detail.htm?id=$!{item.id}"> $!{item.topicId} </td>
	<td> $!{item.comments} </a></td>
	<td> $!{item.creator} </td>
	<td> $!{item.createDate} </td>
	<td><a href="/comments-edit.htm?id=$!{item.id}"  class="btn btn-info">Modify</a><a href="/comments-del.htm?id=$!{item.id}"  class="btn btn-danger">Del</a></td>
  </tr>
#end
 </tbody>
</table>
<form id="form1" name="form1"></form>
			#pageNavigation($!pageInfo,'form1')

		</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->