<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Team Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="team-insert.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("teameName")</label></td>
				<td>
					<input type="text" name="teameName" id="teameName"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desc")</label></td>
				<td>
					<input type="text" name="desc" id="desc"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("createMan")</label></td>
				<td>
					<input type="text" name="createMan" id="createMan"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("createTime")</label></td>
				<td>
					<input type="text" name="createTime" id="createTime"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("photo")</label></td>
				<td>
					<input type="text" name="photo" id="photo"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->