<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>买家中心</title>
  <meta name="description" content="买家中心">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="assets/css/amazeui.css"/>
  <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，lymall 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

#include("common/header.vm");

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li class="admin-parent"><a class="am-cf am-collapsed" href="purchaser-car.htm"><span class="am-icon-home"></span> 我的购物车</a></li>
        <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-myitem.htm"><span class="am-icon-puzzle-piece"></span> 已购买的商品 </span></a>
        </li>
      <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-item-collect.htm"><span class="am-icon-puzzle-piece"></span> 我的收藏 </span></a>
        </li>
        <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-vip.htm"><span class="am-icon-puzzle-piece"></span> 我的积分 </span></a>
        </li>
        <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-red-envelop.htm?type=mj"><span class="am-icon-puzzle-piece"></span> 我的优惠信息 </span></a>
        </li>
        <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-rate.htm"><span class="am-icon-puzzle-piece"></span> 评价/咨询 </span></a>
        </li>
       <li class="admin-parent">
          <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-marketing-nav'}"><span class="am-icon-th"></span> 退款维权 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-marketing-nav">
            <li><a href="consumer_service_refund.htm" class="am-cf"><span class="am-icon-puzzle-piece"></span> 我的退款</a></li>
            <li><a href="consumer-service-care.htm"><span class="am-icon-puzzle-piece"></span> 售后服务</a></li>
            <li><a href="consumer-service-complaint.htm"><span class="am-icon-puzzle-piece"></span> 我的投诉</a></li>
            <li><a href="consumer-service-report.htm"><span class="am-icon-puzzle-piece"></span> 我的举报</a></li>
          </ul>
        </li>
         <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-deliver-address.htm"><span class="am-icon-puzzle-piece"></span> 收货地址管理 </a>
        </li>
         <li class="admin-parent">
          <a class="am-cf am-collapsed" href="consumer-reset-password.htm"><span class="am-icon-puzzle-piece"></span> 修改密码 </a>
        </li>
      </ul>

		<br/>
		<br/>
		<br/>

    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
	
     $screen_content
  </div>
  <!-- content end -->

</div>



<footer>
  <hr>
  <p class="am-padding-left">© 2014 404886, Inc.2016 404886公司版权所有.</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
