<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Producstock Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="producstock-insert.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("shopId")</label></td>
				<td>
					<input type="text" name="shopId" id="shopId"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("sellerId")</label></td>
				<td>
					<input type="text" name="sellerId" id="sellerId"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("itemId")</label></td>
				<td>
					<input type="text" name="itemId" id="itemId"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("propId")</label></td>
				<td>
					<input type="text" name="propId" id="propId"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("propName")</label></td>
				<td>
					<input type="text" name="propName" id="propName"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("propValue")</label></td>
				<td>
					<input type="text" name="propValue" id="propValue"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("stockNum")</label></td>
				<td>
					<input type="text" name="stockNum" id="stockNum"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("leftNum")</label></td>
				<td>
					<input type="text" name="leftNum" id="leftNum"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("image")</label></td>
				<td>
					<input type="text" name="image" id="image"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("price")</label></td>
				<td>
					<input type="text" name="price" id="price"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("specId")</label></td>
				<td>
					<input type="text" name="specId" id="specId"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("specName")</label></td>
				<td>
					<input type="text" name="specName" id="specName"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("specValue")</label></td>
				<td>
					<input type="text" name="specValue" id="specValue"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->