<style>
.table-main {
	  border: 1px solid #dddddd;
}
</style>
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>购物车</small></div>
    </div>

    
    <div class="am-g">
      <div class="am-u-sm-12">
           <table class="am-table am-table-striped am-table-hover table-main">
          <tbody>
          	<tr>
          		<td><input type="checkbox"/></td><td>图片</td><td>标题</td><td>商家</td><td>价格</td><td>数量</td><td>操作</td>
          	</tr>

            		#foreach($item in $items)
            			<tr>
            			  <td><input type="checkbox"/>
            			  <td  class="table-title" width="120px"><a href="item-$!{item.itemId}-detail.htm"><image src="item-image-$!{item.pic}.htm" style="width:80px;height:80px"><a/></td>
            			  <td  class="table-title" width="220px"><a href="item-$!{item.itemId}-detail.htm">$!item.title</a></td>
            			  <td  class="table-title" width="220px"><a href="#">$!item.sellerId</a></td>
            			  <td  class="table-title" width="60px">$!item.price</td>
            			  <td class="am-hide-sm-only" width="60px">$!item.num</td>
            			  
             				 <td  class="table-title">
             				 	<br/>
             				 	  <form method="get" action="trade_add.htm" method="get">
      								<input type="hidden" id="goodsId" name="goodsId" value="$!{item.id}">
									<input type="hidden" id="title" name="title" value="$!{item.name}">
									<input type="hidden" id="spec" name="spec" value="">
									<input type="hidden" id="quantity" name="quantity" value="1">
             				 		<input type="submit" value="立即支付" />
                 			      </form>
                 			   	<br/><br/>
                 			    <a href="javascript:void(0)" class="btn-del" title="删除" id="$!item.id">删除</a>
             				 	
             				 
             				 </td>
             				 </tr>
             		#end
             	
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>总计：$!item.total</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
          </tbody>
        </table>
      </div>

    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12">
         <input type="button" value="立即结算" class="am-btn am-btn-default"/>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12">
        <hr />
          <p>注：.....</p>
      </div>
    </div>
    <script type="text/javascript" charset-"utf-8" src="js/jsAddress.js"></script>
    <script type="text/javascript" charset-"utf-8" src="js/jquery-1.8.2.min.js"></script>
    <link href='/css/jquery.qtip.min.css' rel='stylesheet'>
	<link href='/css/jquery.qtip.css' rel='stylesheet'>
	<script src="/js/jquery.qtip.min.js"></script>    
    <script>
    function buyNow(id){ 
    	console.log(id);
			//var num=parseInt(jQuery("#quantity").val());
			//if(num<1){
			//	alert("数量必须大于1");
			//}
			console.log(jQuery("#"+id));
			jQuery("#"+id).submit()
		}

      jQuery(".btn-del").each(function(){jQuery(this).qtip({
		content: {
			text: "#springMessage("confirm")<br/><br/><input type='button' value='#springMessage("delete")' onclick='del("+jQuery(this).attr('id')+")' class='btn btn-danger'>  <input type='button' value='#springMessage("cancel")' class='btn cancel'>",
			title: "#springMessage("delete")",
			button: "#springMessage("cancel")",
		},
		
		position: {
			my: 'bottom right',
			at: 'top center'
		 },
		style: {
			classes: 'qtip-shadow qtip-bootstrap'
		},
		show: {
			event: 'click', // Show it on click...
			solo: true, // ...and hide all other tooltips...
			modal: true // ...and make it modal
		  },
		hide: true,
		events: {
            render: function(event, api) {
                $('.cancel').click(function(e) {
                    api.hide(e);
                });
            },
          //  hide: function(event, api) { api.destroy(); }
        }

	});});
	
	function del(id){
		window.location.href='purchaser-car-del.htm?id='+id;
	}
     </script>