    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>
		#if($pageInfo.type=="refund")
        我的退款
      #end
     #if($pageInfo.type=="care")
        售后服务
      #end
      #if($pageInfo.type=="complaint")
        我的投诉
      #end
      #if($pageInfo.type=="report")
       我的举报
      #end
	</small></div>
    </div>
	
    <div class="am-g">
      <div class="am-u-sm-12">
     
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-title">售后编号</th><th class="table-type">订单编号</th><th class="table-date am-hide-sm-only">卖家</th><th class="table-date am-hide-sm-only">售后原因</th><th class="table-date am-hide-sm-only">状态</th><th class="table-date am-hide-sm-only">申请时间</th><th class="table-date am-hide-sm-only">操作</th>
              </tr>
          
          #foreach($item in $items)
            <tr>
              <td>65623553016902</td>
               <td>65623553016902</td>
              <td>rock旗舰店<br/>深圳市洛克拉瓦智能科技有限公司</td>
              <td>产品质量问题</td>
              <td>完成</td>
              <td>2016-04-20</td>
              <td>查看</td>
            </tr>

         #end
           </table>
<div class="am-cf">
 	<form id="form1" name="form1></form>
			#pageNavigation($!pageInfo,'form1')
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>