<style>
.table-main {
	  border: 1px solid #dddddd;
}
</style>
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>提交支付</small></div>
    </div>

    
    <div class="am-g">
      <div class="am-u-sm-12">
        <table class="am-table am-table-striped am-table-hover table-main">
          <tbody>
          	<tr>
          		<td width="30px"><input type="checkbox" name="allCheck" id="allCheck"/></td><td width="120px">图片</td><td width="320px">标题</td><td width="60px">价格</td><td width="60px">数量</td><td>操作</td>
          	</tr>
			</tbody>
        </table>
        #foreach($item in $items.entrySet())
        <table class="am-table am-table-striped am-table-hover table-main">
         	<tbody>
         	<tr><td colspan="7"> 店铺：<a href="">$item.key</a></td></tr>
            		#foreach($obj in $item.value.items)
            			<tr>
            			  <td  width="30px"><input type="checkbox" name="payCheck" class="payCheckBox" price="$!obj.price" itemId="$!obj.id"/>
            			  <td  class="table-title" width="120px"><a href="item-$!{obj.itemId}-detail.htm"><image src="item-image-$!{obj.pic}.htm" style="width:80px;height:80px"><a/></td>
            			  <td  class="table-title" width="320px"><a href="item-$!{obj.itemId}-detail.htm">$!obj.title</a></td>
            			  <td  class="table-title" width="60px">$!obj.price</td>
            			  <td class="am-hide-sm-only" width="60px">$!obj.num</td>
            			  
             				 <td  class="table-title">
             				 	<br/>
             				 	  <form method="get" action="trade_add.htm" method="get">
      								<input type="hidden" id="goodsId" name="goodsId" value="$!{obj.id}">
									<input type="hidden" id="title" name="title" value="$!{obj.name}">
									<input type="hidden" id="spec" name="spec" value="">
									<input type="hidden" id="quantity" name="quantity" value="1">
             				 		<input type="submit" value="立即支付" />
                 			      </form>
                 			   	<br/><br/>
                 			    <a href="javascript:void(0)" class="btn-del" title="删除" id="$!obj.id">删除</a>
             				 	
             				 
             				 </td>
             				 </tr>
             		#end
             	
            <tr><td>&nbsp;</td><td>&nbsp;</td><td>总计：$!item.value.totalPrice</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
          </tbody>
        </table>
        #end
      </div>

    </div>
    <div class="am-g">
      <div class="am-u-sm-12">
         总计价金额：<span id="showTotalPrice" style="color:red;font-size:14px">0</span>
         <br/><br/>
         
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12">
       <form action="trade_add_batch.htm" method="post">
       	 <input type="hidden" name="submitItemIds" id="submitItemIds"/>
       	 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
         <input type="submit" value="提交订单" class="am-btn am-btn-default"/>
       </form>
      </div>
    </div>
    
    <div class="am-g">
      <div class="am-u-sm-12">
        <hr />
          <p>注：.....</p>
      </div>
    </div>
    <script type="text/javascript" charset-"utf-8" src="js/jsAddress.js"></script>
    <script type="text/javascript" charset-"utf-8" src="js/jquery-1.8.2.min.js"></script>
    <link href='/css/jquery.qtip.min.css' rel='stylesheet'>
	<link href='/css/jquery.qtip.css' rel='stylesheet'>
	<script src="/js/jquery.qtip.min.js"></script>    
    <script>
    function buyNow(id){ 
    	console.log(id);
			//var num=parseInt(jQuery("#quantity").val());
			//if(num<1){
			//	alert("数量必须大于1");
			//}
			console.log(jQuery("#"+id));
			jQuery("#"+id).submit()
		}

      jQuery(".btn-del").each(function(){jQuery(this).qtip({
		content: {
			text: "#springMessage("confirm")<br/><br/><input type='button' value='#springMessage("delete")' onclick='del("+jQuery(this).attr('id')+")' class='btn btn-danger'>  <input type='button' value='#springMessage("cancel")' class='btn cancel'>",
			title: "#springMessage("delete")",
			button: "#springMessage("cancel")",
		},
		
		position: {
			my: 'bottom right',
			at: 'top center'
		 },
		style: {
			classes: 'qtip-shadow qtip-bootstrap'
		},
		show: {
			event: 'click', // Show it on click...
			solo: true, // ...and hide all other tooltips...
			modal: true // ...and make it modal
		  },
		hide: true,
		events: {
            render: function(event, api) {
                $('.cancel').click(function(e) {
                    api.hide(e);
                });
            },
          //  hide: function(event, api) { api.destroy(); }
        }

	});});
	
	function del(id){
		window.location.href='purchaser-car-del.htm?id='+id;
	}
	
jQuery("#allCheck").click(function(){  
  var total=0;
  var code_Values = document.all["payCheck"];  
  var ids="";
 
  if(this.checked){
     if (code_Values.length) {  
       for ( var i = 0; i < code_Values.length; i++) {  
        code_Values[i].checked = true; 
        ids+=jQuery(code_Values[i]).attr("itemId")+","
    	total+=Number(jQuery(code_Values[i]).attr("price"));
      }  
     }
    jQuery("#showTotalPrice").html(total);  
    jQuery("#submitItemIds").val(ids);
  
  }else{
  	if (code_Values.length) {  
       for ( var i = 0; i < code_Values.length; i++) {  
        code_Values[i].checked = false;  
      }  
     } else {  
  	  code_Values.checked = false;  
     }  
    jQuery("#showTotalPrice").html("0");  
    jQuery("#submitItemIds").val("");
  }
} );
  
   
  
jQuery(".payCheckBox").click(function(){  
  var total=0;
  var code_Values = document.all["payCheck"];  
  var ids="";
  var ifsetAllPayCheck=true;
  if (code_Values.length) {  
    for ( var i = 0; i < code_Values.length; i++) {  
    	if(code_Values[i].checked){
    		ids+=jQuery(code_Values[i]).attr("itemId")+","
    		total+=Number(jQuery(code_Values[i]).attr("price"));
    	}else{
    		ifsetAllPayCheck=false;
    	}
    }
    jQuery("#showTotalPrice").html(total);  
    jQuery("#submitItemIds").val(ids);
    console.log(ifsetAllPayCheck);
    if(ifsetAllPayCheck){
    	//jQuery("#allCheck").attr("checked", "checked");
    	document.getElementById("allCheck").checked=true;
    }else{
    	document.getElementById("allCheck").checked=false;
    }
  }
}  
);
     </script>