<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Express Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<table class="table table-striped table-bordered responsive">
	<tr>
		<td><label for="status">#springMessage("id")</label></td>
		<td>
			$!{express.id}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("expCompany")</label></td>
		<td>
			$!{express.expCompany}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("fId")</label></td>
		<td>
			$!{express.fId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("type")</label></td>
		<td>
			$!{express.type}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("sellerId")</label></td>
		<td>
			$!{express.sellerId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("buyerId")</label></td>
		<td>
			$!{express.buyerId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("content")</label></td>
		<td>
			$!{express.content}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("status")</label></td>
		<td>
			$!{express.status}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("modifiedTime")</label></td>
		<td>
			$!{express.modifiedTime}
		</td>
	</tr>
</table>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->