<div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">属性</div>
          <div class="am-u-sm-8 am-u-md-6">
             <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th></th><th width="40%">名称</th><th>内容</th>
              </tr>
            </thread>
            <body>
             #foreach($item in $items)
            	<tr><td><input type="checkbox" /></td><td>蓝色xxl</td><td><input type="text" name=""/></td></tr>
             #end
            </body>
            </table>
           </div>
          <div class="am-u-sm-8 am-u-md-6"></div>
</div>﻿