<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>ShopCategoryProp Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<table class="table table-striped table-bordered responsive">
	<tr>
		<td><label for="status">#springMessage("id")</label></td>
		<td>
			$!{shopcategoryprop.id}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("categoryId")</label></td>
		<td>
			$!{shopcategoryprop.categoryId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("name")</label></td>
		<td>
			$!{shopcategoryprop.name}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("sellerId")</label></td>
		<td>
			$!{shopcategoryprop.sellerId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("shopId")</label></td>
		<td>
			$!{shopcategoryprop.shopId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("type")</label></td>
		<td>
			$!{shopcategoryprop.type}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("inputType")</label></td>
		<td>
			$!{shopcategoryprop.inputType}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("inputOption")</label></td>
		<td>
			$!{shopcategoryprop.inputOption}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("status")</label></td>
		<td>
			$!{shopcategoryprop.status}
		</td>
	</tr>
</table>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->