<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

	<title>京东网上商城</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">

	<link rel="stylesheet" type="text/css" href="css/global.css">

	<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>

	<script type="text/javascript" src="js/jsstyle.js"></script>
	 <link rel="shortcut icon" href="http://b2b2c.leimingtech.com/leimingtech-front/res/css/favicon.ico">
    <style type="text/css">
        body {
            _behavior: url("http://b2b2c.leimingtech.com/leimingtech-front/res/css/new-csshover.htc");
        }
        .linetop {
            color: #D6D6D6;
        }
    </style>
    <script src="./detail/html5shiv.min.js"></script>
    <link href="./detail/base.css" rel="stylesheet" type="text/css">
    <link href="./detail/home_header.css" rel="stylesheet" type="text/css">
    <link href="./detail/home_login.css" rel="stylesheet" type="text/css">
    <link href="./detail/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://b2b2c.leimingtech.com/leimingtech-front/res/js/html5shiv.min.js"></script>
    <script src="http://b2b2c.leimingtech.com/leimingtech-front/res/js/respond.min.js"></script>
    <![endif]-->
    <script>
        COOKIE_PRE = '5C83_';
        _CHARSET = 'utf-8';
        SITEURL = '/';
    </script>
    <script src="./detail/jquery.js"></script>
	<!-- jqueryAutoComplete加载 -->
	<link href="./detail/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css">
	<script src="./detail/jquery-ui-1.9.2.custom.js"></script>
	<!-- autocomplete 加载OVER -->
    <script src="./detail/jquery.SuperSlide.2.1.1.js"></script>
    <script src="./detail/common.js" charset="utf-8"></script>
    <!-- <script src="http://b2b2c.leimingtech.com/leimingtech-front/res/js/jquery-ui/jquery.ui.js" type="text/javascript"></script> -->
    <script src="./detail/jquery.validation.min.js"></script>
    <script src="./detail/jquery.masonry.js"></script>
    <script type="text/javascript" src="http://b2b2c.leimingtech.com/leimingtech-front/res/js/IE6_MAXMIX.js"></script>
  
<link rel="stylesheet" href="./detail/layer.css" id="layui_layer_skinlayercss"><

</head>

<body>
#parse("common/top_search.vm")
#parse("common/nav.vm")

<!-- main -->

<script src="./detail/html5shiv.min.js"></script>
<script type="text/javascript" src="./detail/jquery.cookie.js"></script>
<link href="./detail/shop.css" rel="stylesheet" type="text/css">
<link href="./detail/style(1).css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./detail/shop.js" charset="utf-8"></script>
<script src="./detail/jquery.js"></script>
<script type="text/javascript" src="./detail/jquery.raty.min.js"></script>
<style type="text/css">
	body{background:0}#content{width:1200px}
	.expanded .nc-goods-main.nc-goods-main{width:980px}
	.expanded .nc-sidebar{width:210px}
	.nc-goods-main{width:1200px}
	.wrapper{width:1200px;}
	.ncg-com-list .content ul li .goods-name_new { 
		line-height:18px;
		height: 36px; 
		width: 90%;
    	overflow: hidden; 
    	margin: 8px auto;
    }
	.nc-meta dl dd, .nc-key dl dd, .nc-pay dl dd {
	    line-height: 30px;
	    display: inline;
	    width: 450px;
	    margin-left: 4px;
	    float: left;
	}
	.hl_red_bg{
		color: #fff;
	    background: #e4393c;
	    padding: 1px 2px;
	    line-height: 12px;
	    margin-right: 5px;
	    margin-top:7px;
	    display: inline-block;
	}
	.hl_red{
		color: #e4393c;
	}

	.ncs-goods-summary{
        float: right;
        width: 790px;
        height: auto;
	}
</style>

<div class="background clearfix">
<script type="text/javascript" src="./detail/shopstatgoods.js"></script>
<article id="content">
	<!-- 导航条 begin-->
	<div class="nch-breadcrumb-layout">
	  <div class="nch-breadcrumb wrapper">
	  	<i class="icon-home"> </i>
	 	 	<span><a href="javascript:void(0);">首页</a></span>
			<span class="arrow">&gt;</span><span><a href="http://b2b2c.leimingtech.com/leimingtech-front/search/goodsSearch?searchType=gcIdSearch&amp;keyword=32"> 男装、女装、内衣、珠宝</a></span><span class="arrow">&gt;</span><span><a href="http://b2b2c.leimingtech.com/leimingtech-front/search/goodsSearch?searchType=gcIdSearch&amp;keyword=33">女装</a></span><span class="arrow">&gt;</span><span><a href="http://b2b2c.leimingtech.com/leimingtech-front/search/goodsSearch?searchType=gcIdSearch&amp;keyword=135">连衣裙</a></span>
			<span class="arrow">&gt;</span>
			<span class="arrow"><a href="http://b2b2c.leimingtech.com/goods/135/15/10/12/27.html">玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L</a></span>
		</div>
	</div>  
	<!-- 导航条 end-->  
	<section class="nc-detail">
	    <div class="nc-inform">
	    	<span>举报中心<i></i></span>
		    <ul>
		      <li><a href="javascript:void(0);" title="举报该商品">举报该商品</a></li>
		    </ul>
	 	</div>
        <div class="nc-detail-bd"> 
        	
        	<style type="text/css">
			.preview{width:390px; height:400px;}
			/* smallImg */
			.smallImg{position:relative; height:52px; margin-top:1px; background-color:#F1F0F0; padding:6px 5px; width:380px; overflow:hidden;float:left;}
			.scrollbutton{width:14px; height:50px; overflow:hidden; position:relative; float:left; cursor:pointer; }
			.scrollbutton.smallImgUp , .scrollbutton.smallImgUp.disabled{background:url(http://b2b2c.leimingtech.com/leimingtech-front/res/images/jaoben/images/d_08.png) no-repeat;}
			.scrollbutton.smallImgDown , .scrollbutton.smallImgDown.disabled{background:url(http://b2b2c.leimingtech.com/leimingtech-front/res/images/jaoben/images/d_09.png) no-repeat; margin-left:365px; margin-top:-50px;}
			
			#imageMenu {height:50px; width:360px; overflow:hidden; margin-left:0; float:left;}
			#imageMenu li {height:50px; width:60px; overflow:hidden; float:left; text-align:center;}
			#imageMenu li img{width:50px; height:50px;cursor:pointer;}
			#imageMenu li#onlickImg img, #imageMenu li:hover img{ width:44px; height:44px; border:3px solid #959595;}
			/* bigImg */
			.bigImg{position:relative; float:left; width:390px; height:400px; overflow:hidden;}
			.bigImg #midimg{width:390px; height:400px;}
			.bigImg #winSelector{width:235px; height:210px;}
			#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#000; border:1px solid #fff;}
			/* bigView */
			#bigView{position:absolute;border: 1px solid #959595; overflow: hidden; z-index:999;}
			#bigView img{position:absolute;}
			</style>
			<aside class="nc-gallery">
        	<!-- S 商品图片及收藏分享 -->
			<div class="preview">
				<div id="vertical" class="bigImg">
					<img src="./detail/1449548347936.jpg_400x400.jpg" width="380" height="400" alt="" id="midimg" style="display: inline;">
					<div style="left: 155px; top: 0px; display: none;" id="winSelector"></div>
				</div><!--bigImg end-->	
				<div class="smallImg">
					<div class="scrollbutton smallImgUp disabled"></div>
					<div id="imageMenu">
						<ul style="margin-left: 0px;">
										<li><img src="./detail/1449548347835.jpg_100x100.jpg" width="68" height="68" alt=""></li>
										<li><img src="./detail/1449548347936.jpg_100x100.jpg" width="68" height="68" alt=""></li>
										<li><img src="./detail/1449548347936.jpg_100x100.jpg" width="68" height="68" alt=""></li>
										<li><img src="./detail/1449548347936.jpg_100x100.jpg" width="68" height="68" alt=""></li>
										<li><img src="./detail/1449548347936.jpg_100x100.jpg" width="68" height="68" alt=""></li>
										<li><img src="./detail/1449548347936.jpg_100x100.jpg" width="68" height="68" alt=""></li>
						</ul>
					</div>
					<div class="scrollbutton smallImgDown"></div>
				</div><!--smallImg end-->	
				<div id="bigView" style="width: 482.051px; height: 420px; top: 10px; left: 405px; display: none;"><img width="800" height="800" alt="" src="./detail/1449548347936.jpg_400x400.jpg" style="display: block; left: -317.949px; top: 0px;"></div>
			</div>
			</aside>
			<script src="./detail/layer.js"></script>
			<script type="text/javascript">
			jQuery(document).ready(function(){
				// 图片上下滚动
				var count = jQuery("#imageMenu li").length - 5; /* 显示 6 个 li标签内容 */
				var interval = jQuery("#imageMenu li:first").width();
				var curIndex = 0;
				
				jQuery('.scrollbutton').click(function(){
					if( jQuery(this).hasClass('disabled') ) return false;
					
					if (jQuery(this).hasClass('smallImgUp')) --curIndex;
					else ++curIndex;
					
					jQuery('.scrollbutton').removeClass('disabled');
					if (curIndex == 0) jQuery('.smallImgUp').addClass('disabled');
					if (curIndex == count-1) jQuery('.smallImgDown').addClass('disabled');
					
					jQuery("#imageMenu ul").stop(false, true).animate({"marginLeft" : -curIndex*interval + "px"}, 600);
				});	
				// 解决 ie6 select框 问题
				jQuery.fn.decorateIframe = function(options) {
			        if (jQuery.browser.msie && jQuery.browser.version < 7) {
			            var opts = jQuery.extend({}, jQuery.fn.decorateIframe.defaults, options);
			            jQuery(this).each(function() {
			                var jQuerymyThis = jQuery(this);
			                //创建一个IFRAME
			                var divIframe = jQuery("<iframe />");
			                divIframe.attr("id", opts.iframeId);
			                divIframe.css("position", "absolute");
			                divIframe.css("display", "none");
			                divIframe.css("display", "block");
			                divIframe.css("z-index", opts.iframeZIndex);
			                divIframe.css("border");
			                divIframe.css("top", "0");
			                divIframe.css("left", "0");
			                if (opts.width == 0) {
			                    divIframe.css("width", jQuerymyThis.width() + parseInt(jQuerymyThis.css("padding")) * 2 + "px");
			                }
			                if (opts.height == 0) {
			                    divIframe.css("height", jQuerymyThis.height() + parseInt(jQuerymyThis.css("padding")) * 2 + "px");
			                }
			                divIframe.css("filter", "mask(color=#fff)");
			                jQuerymyThis.append(divIframe);
			            });
			        }
			    }
			    jQuery.fn.decorateIframe.defaults = {
			        iframeId: "decorateIframe1",
			        iframeZIndex: -1,
			        width: 0,
			        height: 0
			    }
			    //放大镜视窗
			    jQuery("#bigView").decorateIframe();
			    //点击到中图
			    var midChangeHandler = null;
				
			    jQuery("#imageMenu li img").bind("click", function(){
					if (jQuery(this).attr("id") != "onlickImg") {
						midChange(jQuery(this).attr("src").replace("small", "mid"));
						jQuery("#imageMenu li").removeAttr("id");
						jQuery(this).parent().attr("id", "onlickImg");
					}
				}).bind("mouseover", function(){
					if (jQuery(this).attr("id") != "onlickImg") {
						window.clearTimeout(midChangeHandler);
						midChange(jQuery(this).attr("src").replace("100x100", "400x400"));
						jQuery(this).css({ "border": "3px solid #959595" });
					}
				}).bind("mouseout", function(){
					if(jQuery(this).attr("id") != "onlickImg"){
						jQuery(this).removeAttr("style");
						midChangeHandler = window.setTimeout(function(){
							midChange(jQuery("#onlickImg img").attr("src").replace("small", "mid"));
						}, 1000);
					}
				});
			    function midChange(src) {
			        jQuery("#midimg").attr("src", src).load(function() {
			            changeViewImg();
			        });
			    }
			    //大视窗看图
			    function mouseover(e) {
			        if (jQuery("#winSelector").css("display") == "none") {
			            jQuery("#winSelector,#bigView").show();
			        }
			        jQuery("#winSelector").css(fixedPosition(e));
			        e.stopPropagation();
			    }
			    function mouseOut(e) {
			        if (jQuery("#winSelector").css("display") != "none") {
			            jQuery("#winSelector,#bigView").hide();
			        }
			        e.stopPropagation();
			    }
			    jQuery("#midimg").mouseover(mouseover); //中图事件
			    jQuery("#midimg,#winSelector").mousemove(mouseover).mouseout(mouseOut); //选择器事件
			
			    var jQuerydivWidth = jQuery("#winSelector").width(); //选择器宽度
			    var jQuerydivHeight = jQuery("#winSelector").height(); //选择器高度
			    var jQueryimgWidth = jQuery("#midimg").width(); //中图宽度
			    var jQueryimgHeight = jQuery("#midimg").height(); //中图高度
			    var jQueryviewImgWidth = jQueryviewImgHeight = jQueryheight = null; //IE加载后才能得到 大图宽度 大图高度 大图视窗高度
			
			    function changeViewImg() {
			        jQuery("#bigView img").attr("src", jQuery("#midimg").attr("src").replace("100x100", "400x400"));
			    }
			    changeViewImg();
			    jQuery("#bigView").scrollLeft(0).scrollTop(0);
			    function fixedPosition(e) {
			        if (e == null) {
			            return;
			        }
			        var jQueryimgLeft = jQuery("#midimg").offset().left; //中图左边距
			        var jQueryimgTop = jQuery("#midimg").offset().top; //中图上边距
			        X = e.pageX - jQueryimgLeft - jQuerydivWidth / 2; //selector顶点坐标 X
			        Y = e.pageY - jQueryimgTop - jQuerydivHeight / 2; //selector顶点坐标 Y
			        X = X < 0 ? 0 : X;
			        Y = Y < 0 ? 0 : Y;
			        X = X + jQuerydivWidth > jQueryimgWidth ? jQueryimgWidth - jQuerydivWidth : X;
			        Y = Y + jQuerydivHeight > jQueryimgHeight ? jQueryimgHeight - jQuerydivHeight : Y;
			
			        if (jQueryviewImgWidth == null) {
			            jQueryviewImgWidth = jQuery("#bigView img").outerWidth();
			            jQueryviewImgHeight = jQuery("#bigView img").height();
			            if (jQueryviewImgWidth < 200 || jQueryviewImgHeight < 200) {
			                jQueryviewImgWidth = jQueryviewImgHeight = 800;
			            }
			            jQueryheight = jQuerydivHeight * jQueryviewImgHeight / jQueryimgHeight;
			            jQuery("#bigView").width(jQuerydivWidth * jQueryviewImgWidth / jQueryimgWidth);
			            jQuery("#bigView").height(jQueryheight);
			        }
			        var scrollX = X * jQueryviewImgWidth / jQueryimgWidth;
			        var scrollY = Y * jQueryviewImgHeight / jQueryimgHeight;
			        jQuery("#bigView img").css({ "left": scrollX * -1, "top": scrollY * -1 });
			        jQuery("#bigView").css({ "top": 10, "left": jQuery(".preview").width() + 15 });
			
			        return { left: X, top: Y };
			    }
			   saveshopstatgoods('27','玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L','9');
			});
			
			   //修改商品收藏数量
			  function collect_goods(goodsId,favType,storeId){
			       var collectgoodscount='1';
			       jQuery.ajax({
					    	url : "http://b2b2c.leimingtech.com/leimingtech-front/Favorite/SaveFavorite",
					        type : 'post',
					        data : {'goodsId':goodsId,'favType':favType,'storeId':storeId},
					        dataType : 'json',
					        success : function(data){
			                if(data.success){
			            	    layer.msg(data.msg,{icon:1});
			            	    //jQuery("em").find("nctype:goods_collect").html(99);
			            	    jQuery("em[nctype='goods_collect']").html(data.collectgoodcount);
			            	}else{
			            		layer.msg(data.msg,{icon:2});
			            	}
			            }
					 }); 
			  } 
			  
			  //修改店铺收藏数量
			  function collect_store(goodsId,favType,storeId){
			       jQuery.ajax({
					    	url : "http://b2b2c.leimingtech.com/leimingtech-front/Favorite/SaveFavorite",
					        type : 'post',
					        data : {'goodsId':goodsId,'favType':favType,'storeId':storeId},
					        dataType : 'json',
					        success : function(data){
			                if(data.success){
			            	    layer.msg(data.msg,{icon:1});
			            	    jQuery("em[nctype='store_collect']").html(data.collectstorecount);
			            	}else{
			            		layer.msg(data.msg,{icon:2});
			            	}
			            }
					 }); 
			  } 
			  				
			</script>
			
        	<!-- E 商品图片及收藏分享 --> 
        	<!-- S 商品基本信息 -->
        
	        <article class="ncs-goods-summary">
				<div class="name">
					<input type="hidden" id="goodsId" value="27">
					<input type="hidden" id="goodsSpecId" value="">
			        <h1>玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L</h1>
			        <strong>百搭气质女装复古文艺短袖圆领棉麻连衣裙</strong>
		        </div>
	          	<div class="nc-meta"> 
		            <!-- S 商品发布 -->
		            <dl class="nc-detail-price ">
		              <dt>价　　　格：</dt>
		              <dd>
		              	<strong nctype="goods_price">¥133</strong>
		              </dd>
		            </dl>
		            <dl class="nc-detail-price ">
		              <dt>市　场　价：</dt>
		              <dd>
		              	<strong>¥133</strong>
		              </dd>
		            </dl>
		            
		            
		            <dl>
		            	<dt>分　　　享：</dt>
		            	<dd style="margin-top: 5px;">
		            		<div class="jiathis_style" style="right: 0;">
								<a class="jiathis_button_icons_1" title="分享到QQ空间"><span class="jiathis_txt jtico jtico_qzone"></span></a>
								<a class="jiathis_button_icons_2" title="分享到新浪微博"><span class="jiathis_txt jtico jtico_tsina"></span></a>
								<a class="jiathis_button_icons_3" title="分享到腾讯微博"><span class="jiathis_txt jtico jtico_tqq"></span></a>
								<a class="jiathis_button_icons_4" title="分享到微信"><span class="jiathis_txt jtico jtico_weixin"></span></a>
								<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							</div>
							<script type="text/javascript" src="./detail/jia.js" charset="utf-8"></script><script type="text/javascript" src="./detail/plugin.client.js" charset="utf-8"></script>
		            	</dd>
		            </dl>
		            <!-- E 商品发布价格 --> 
		            <!-- S 物流运费 -->
		            <dl class="ncs-freight">
		              <dt>运　　　费：</dt>
		              <dd id="transport_price">
		              		卖家承担运费
		              
		              </dd>
		              <dd style="color:red;display:none" id="loading_price">loading.....</dd>
		            </dl>
		           
		            <!-- S 商品规格值-->
		        <!--   S 店铺信息 -->
					 <!--根据店铺id取评分内容-->
					 <!-- 判断是否下架 -->
		            <!-- E 物流运费 ---> 
					<ul class="tm-ind-panel">
						<!-- S 累计售出数量 -->
						<li class="tm-ind-item tm-ind-sellCount">
							<p class="tm-count">
								<em><a href="http://b2b2c.leimingtech.com/leimingtech-front/goods/135/15/10/12/27.html#ncGoodsTraded">69</a></em>
							</p>
							<p class="tm-label">累计售出</p>
						</li>
						<!-- E 累计售出数量 -->
						<!-- S 描述相符评分及评价数量 -->
						<li class="tm-ind-item tm-ind-reviewCount tm-line3" id="J_ItemRates">
							<p class="tm-count" id="comment_num"><em>0</em></p>
							<p class="tm-label">条评论</p>
							<p class="raty ra" data-score="0"></p>
						</li>
						<!-- E 描述相符评分及评价数量 --> 
						<!-- S 商品类型及浏览数-->
						<li class="tm-ind-item tm-ind-emPointCount">
							<a target="_blank">
								<p class="tm-count">
									<em>
						              全新
									</em>
								</p>
								<p class="tm-label">商品类型</p>
							</a>
						</li>
					</ul>
		            <!-- E 商品类型及浏览数-->
				</div>

				<div class="nc-key">	          	<div class="nc-spec">
							            
					            <dl>
						            <dt>颜色：</dt>
						            <dd>
							            <ul nctyle="ul_sign">
								            <!-- 文字类型规格-->
									            	<li class="sp-txt">
											            	<a href="javascript:void(0)" spid="1" spvalueid="317" onclick="selectSpec(&#39;1&#39;, this, &#39;317&#39;)" class="">
											            	红色
											            						<img alt="" src="./detail/1449548964790.jpg" style="height: 25px;width: 25px;">
											            	<i></i>
										            	   </a>
									            	</li>
									            	<li class="sp-txt">
											            	<a href="javascript:void(0)" spid="1" spvalueid="323" onclick="selectSpec(&#39;1&#39;, this, &#39;323&#39;)" class="hovered">
											            	绿色
											            						<img alt="" src="./detail/1449548971102.jpg" style="height: 25px;width: 25px;">
											            	<i></i>
										            	   </a>
									            	</li>
							            </ul>
						            </dd>
					            </dl>
					            <dl>
						            <dt>尺码：</dt>
						            <dd>
							            <ul nctyle="ul_sign">
								            <!-- 文字类型规格-->
									            	<li class="sp-txt">
											            	<a href="javascript:void(0)" spid="9" spvalueid="292" onclick="selectSpec(&#39;9&#39;, this, &#39;292&#39;)" class="">
											            	L
											            	<i></i>
										            	   </a>
									            	</li>
									            	<li class="sp-txt">
											            	<a href="javascript:void(0)" spid="9" spvalueid="293" onclick="selectSpec(&#39;9&#39;, this, &#39;293&#39;)" class="">
											            	M
											            	<i></i>
										            	   </a>
									            	</li>
							            </ul>
						            </dd>
					            </dl>
		            <!-- E 商品规格值--> 
		            </div>
		            <!-- S 购买数量及库存 -->
		            <dl>
		           	<dt>购买数量：</dt>
					<dd class="nc-figure-input">
						<a href="javascript:void(0)" onclick="caculate(&#39;cut&#39;);">
							<i class="icon-minus decrease fl text-hidden"></i>
						</a>
						<input type="text" name="" id="quantity" value="1" size="3" maxlength="6" class="fl" style="border-radius:0;">
						<a href="javascript:void(0)" onclick="caculate(&#39;add&#39;);">
							<i class="icon-plus increase fl text-hidden"></i>
						</a> 
		                <em class="fl ml20">
			                (当前库存<strong nctype="goods_stock" id="stockGoods">605</strong>件)
		                </em> 
					</dd>
					<div class="clear"></div>
		            </dl>
		            <!-- E 购买数量及库存 --> 
		            <!-- S 提示已选规格及库存不足无法购买 -->
		            <dl class="nc-point" nctype="goods_prompt" style="display:none;"></dl>
		            <!-- E 提示已选规格及库存不足无法购买 -->
					<div class="clear"></div>
		            <!-- S 购买按钮 -->
		            <div class="nc-btn clearfix">
						<a href="javascript:buynow(&#39;&#39;);" class="buynow fl text-hidden" title="立即购买">立即购买</a><!-- 立即购买--> 
						<a href="javascript:buy(&#39;&#39;);" class="addcart fl ml10 text-hidden" title="添加到购物车">添加到购物车<!-- 加入购物车--></a> 
		              	<!-- S 加入购物车弹出提示框 -->
		              	<div class="ncs_cart_popup">
		                	<dl>
		                  		<dt>
				                    <h3>成功添加到购物车</h3>
				                    <a title="关闭" onclick="jQuery(&#39;.ncs_cart_popup&#39;).css({&#39;display&#39;:&#39;none&#39;});">关闭</a>
								</dt>
		                  		<dd>
		                    		<p class="mb5">购物车共有 <strong id="bold_num"></strong> 种商品 总金额为：<em id="bold_mly" class="price"></em></p>
				                    <p>
				                      <input type="submit" class="btn1" name="" value="查看购物车" onclick="javascript:void(0);">
				                      <input type="submit" class="btn2" name="" value="继续购物" onclick="jQuery(&#39;.ncs_cart_popup&#39;).css({&#39;display&#39;:&#39;none&#39;});">
				                    </p>
		                  		</dd>
		                	</dl>
						</div>
		              	<!-- E 加入购物车弹出提示框 -->
					</div>
					<!-- E 购买按钮 -->
					<div class="clear"></div>
</div>
				<!-- S 收藏与分享 -->
				<div class="ncs_share" style="float:none;">
				  <div class="ncs-goods-handle fl">
				    <div class="handle-left"><i class="share-goods"></i><a href="javascript:void(0)" onclick="collect_goods(&#39;27&#39;,&#39;1&#39;,&#39;9&#39;);">收藏商品</a><em nctype="goods_collect">1</em></div>
				    <div class="handle-right" id="handle-r"><span></span>
				      <ul>
				        <li class="tab"><span></span></li>
				        <li><i class="share-store"></i><a href="javascript:void(0)" onclick="collect_store(&#39;-9&#39;,&#39;2&#39;,&#39;9&#39;);">收藏店铺<em nctype="store_collect">13</em></a></li>
				      </ul>
				    </div>
				  </div>
				   <div class="clear"></div>
				</div>
				<!-- E 收藏与分享 --> 
	        </article>
	        <!--E 商品信息 --> 
        			<!-- 判断是否下架 -->
			<div class="ncg-store" style=" position: absolute; z-index: 1; top: 60px; right: 0;">
				<div class="title">店铺信息</div>
			    <div class="content">
			        <div class="ncg-store-info">
			          <dl class="name">
			            <dt>商　　家：</dt>
			            <dd>
			                京川牦牛
			            </dd>
			          </dl>
			          <dl class="all-rate">
			            <dt>综合评分：</dt>
			            <dd>
			              <div class="rating">
			              	<span style="width: 68%;" id="allrate"></span>
			              </div>
			              <em>3.4</em>分 
			              <script>
			              	var num = 3.4;
			              	var rate = (num*100)/5;
			              	jQuery("#allrate").css("width", rate + "%");
			              </script>
			             </dd>
			          </dl>
					  
			          <div class="detail-rate">
			            <h5><strong>店铺动态评分</strong></h5>
			            <ul class="rate">
			              <li>
			              		描述相符：
			              		<span class="credit ra" id="descraty" data-score="3.3" title="很好" style="width: 100px;"></span>
			              </li>
			              <li>
			              		服务态度：
			              		<span class="credit ra" data-score="3.4" title="很好" style="width: 100px;"></span>
			              </li>
			              <li>
			              		发货速度：
			              		<span class="credit ra" data-score="3.5" title="很好" style="width: 100px;"></span>
			              </li>
			            </ul>
			          </div>
			          
			          <dl class="messenger">
			            <dt>在线客服：</dt>
						<dd>     
							<a target="_blank" href="http://b2b2c.leimingtech.com/leimingtech-front/easemob/msgview?touser=9" title="1234567">
								<img border="0" src="./detail/pa" style=" vertical-align: middle;">
							</a> 
			      		</dd>
			          </dl>
		          		<div class="goto" id="shop-other"> 
		          			<a href="http://b2b2c.leimingtech.com/leimingtech-front/store/shop?storeId=9" target="_blank">进入商家店铺</a>
		          		</div>
			        </div>
				</div>
		    </div>
		    <!--E 店铺信息 --> 
		</div>
    	<div class="clear"></div>
	</section>

    <section class="layout expanded nc-main">
		<article class="nc-goods-main">
			<section class="nc-promotion" style="display:none;">
	  			<nav class="tabbar pngFix">
          			<div class="pr">
			            <ul>
			              <li class="current"><a href=""><span>组合销售</span></a></li>
			            </ul>
					</div>
        		</nav>
			    <!--S 组合销售 -->
			    <div class="nc-bundling" id="nc-bundling" style="display:none;"></div>
			    <!--E 组合销售 -->
			</section>
    		
   		<section class="nc-s-c-s2 ncg-com-list">
          <div class="title">
            <h4>组合商品</h4>
          </div>
          <div class="content" style="overflow:auto;">
            <ul>
             </ul>
            <div class="clear"></div>
          </div>
        </section>
    		
			<div id="main-nav-holder">
				<nav class="tabbar pngFix" id="main-nav">
					<div class="pr" style="z-index: 70;">
					  <ul id="categorymenu">
					  
					    <li class="current"><a name="table" toaction="goodsBody" totable="#table1" href="javascript:void(0);"><span>商品详情</span></a></li>
					    <li><a name="table" toaction="evaluateGoods" totable="#table2" href="javascript:void(0);"><span>商品评论</span></a></li>
					    <li><a name="table" toaction="saleRecord" totable="#table3" href="javascript:void(0);"><span>销售记录</span></a></li>
					  </ul>
					  <div class="switch-bar"><a href="javascript:void(0)" id="abc">&nbsp;</a></div>
					  <div class="gotop"><a href="http://b2b2c.leimingtech.com/leimingtech-front/goods/135/15/10/12/27.html#top">&nbsp;</a></div>
					</div>
		        </nav>
		        <section class="nc-s-c-s4 ncg-intro" name="goodsTable" id="table1">
		        <div class="content bd">
	<ul class="nc-goods-sort">
		<li>品牌：茵曼（INMAN）</li> 
	</ul>
	<div class="default"><br class="Apple-interchange-newline">
<img alt="" src="./detail/55b61dbdN21c532e9.jpg" class="" style="border:0px;"></div>
</div></section>
		        
		       	<section class="nc-s-c-s4 ncg-comment" name="goodsTable" id="table2">
		        </section>
		        
		       	<section class="nc-s-c-s4 ncg-salelog" name="goodsTable" id="table3">
		        </section> 
		        
		       	<section class="nc-s-c-s4 ncg-guestbook" name="goodsTable" id="table4">
		        </section> 
		        
		        <section class="nc-s-c-s2 ncg-com-list">
		          <div class="title">
		            <h4>推荐商品</h4>
		          </div>
		          <div class="content">
		            <ul>
			                <li>
							<dl>
								<dt class="goods-name_new">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=20" target="_blank" title="欧洲站2015新夏季欧货短袖大码中长款淑女连衣裙A字雪纺女装显瘦V S">
										欧洲站2015新夏季欧货短袖大码中长款淑女连衣裙A字雪纺女装显瘦V S<em></em>
									</a>
								</dt>
								<dd class="goods-pic">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=20" target="_blank" title="">
										<img src="./detail/1439361451698.jpg" alt="欧洲站2015新夏季欧货短袖大码中长款淑女连衣裙A字雪纺女装显瘦V S">
									</a>
								</dd>
								<dd class="goods-price">
									商&nbsp;城&nbsp;价：<em class="price">¥504</em>
								</dd>
									
							</dl>
						   	</li>
			                <li>
							<dl>
								<dt class="goods-name_new">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=24" target="_blank" title="清水丽香 2015夏装新款复古文艺短袖棉麻圆领长裙C03 红色 M">
										清水丽香 2015夏装新款复古文艺短袖棉麻圆领长裙C03 红色 M<em></em>
									</a>
								</dt>
								<dd class="goods-pic">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=24" target="_blank" title="">
										<img src="./detail/1439363286945.jpg" alt="清水丽香 2015夏装新款复古文艺短袖棉麻圆领长裙C03 红色 M">
									</a>
								</dd>
								<dd class="goods-price">
									商&nbsp;城&nbsp;价：<em class="price">¥139</em>
								</dd>
									
							</dl>
						   	</li>
			                <li>
							<dl>
								<dt class="goods-name_new">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=27" target="_blank" title="玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L">
										玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L<em></em>
									</a>
								</dt>
								<dd class="goods-pic">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=27" target="_blank" title="">
										<img src="./detail/1449548347835.jpg" alt="玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L">
									</a>
								</dd>
								<dd class="goods-price">
									商&nbsp;城&nbsp;价：<em class="price">¥133</em>
								</dd>
									
							</dl>
						   	</li>
			                <li>
							<dl>
								<dt class="goods-name_new">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=28" target="_blank" title="阁斯岚 2015夏日新款无袖长款雪纺连衣裙 夏天大码沙滩纯色长裙 G25 白色 L">
										阁斯岚 2015夏日新款无袖长款雪纺连衣裙 夏天大码沙滩纯色长裙 G25 白色 L<em></em>
									</a>
								</dt>
								<dd class="goods-pic">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=28" target="_blank" title="">
										<img src="./detail/1449565606531.jpg" alt="阁斯岚 2015夏日新款无袖长款雪纺连衣裙 夏天大码沙滩纯色长裙 G25 白色 L">
									</a>
								</dd>
								<dd class="goods-price">
									商&nbsp;城&nbsp;价：<em class="price">¥98</em>
								</dd>
									
							</dl>
						   	</li>
			                <li>
							<dl>
								<dt class="goods-name_new">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=29" target="_blank" title="欧诗黛连衣裙2015夏季新款韩版雪纺印花显瘦高腰衬衫裙子 白色款 M 累计">
										欧诗黛连衣裙2015夏季新款韩版雪纺印花显瘦高腰衬衫裙子 白色款 M 累计<em></em>
									</a>
								</dt>
								<dd class="goods-pic">
									<a href="http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=29" target="_blank" title="">
										<img src="./detail/1449547626123.jpg" alt="欧诗黛连衣裙2015夏季新款韩版雪纺印花显瘦高腰衬衫裙子 白色款 M 累计">
									</a>
								</dd>
								<dd class="goods-price">
									商&nbsp;城&nbsp;价：<em class="price">¥88</em>
								</dd>
									
							</dl>
						   	</li>
		             </ul>
		            <div class="clear"></div>
		          </div>
		        </section>
			  </div>
		</article>
		<aside class="nc-sidebar">
			<!-- <div class="nc-s-c-s1">
		        <div class="title">
		          <h4>商品二维码</h4>
		        </div>
		        <div class="content">
		          <div class="ncs-goods-code">
			          <p><img src="" width='150' height='150' alt='李宁运动cgl'></p> 
					  <span class="ncs-goods-code-note"><i></i>扫描二维码，手机查看分享</span> 
					</div>         
			    </div>
			</div> -->
	        
			<!-- <div class="nc-s-c-s1 ncs-message-bar">
				<div class="title">
					<h4>客服中心</h4>
				</div>
			  	<div class="content">
				</div>
			</div> -->        
			
			
			<!-- 店内搜索，商品分类，商品排行 -->  

<div class="nc-s-c-s1 ncs-class-bar mt10">
  <div class="title">
    <h4>商品分类</h4>
  </div>
     <div class="content">
         <!--  <p> <span><a href="#">按新品</a></span><span><a href="#">按价格</a></span><span><a href="#">按销量</a></span><span><a href="#">按人气</a></span></p> -->
                <!-- 根据店铺id获取店铺详情 start -->
                <!-- 根据店铺id获取店铺详情 end -->
			     <ul class="ncs-submenu">
						       <li><span class="ico-none"><em>-</em></span><a href="http://b2b2c.leimingtech.com/leimingtech-front/store/shop?storeId=9&amp;storeClassId=49">小童装</a></li>
			   </ul>
    <div class="clear mb10"></div>
  </div>
</div>

<div class="nc-s-c-s1 ncs-top-bar mt10">
	<div class="title">
		<h4>商品排行</h4>
	</div>
	<div class="content">
		<ul class="ncs-top-tab pngFix">
			<li class="current"><a href="javascript:void(0)">热销商品排行</a></li>
			<li><a href="javascript:void(0)">热门收藏排行</a></li>
		</ul>
		<div class="ncs-top-panel">
			<ol>
			</ol>
		</div>
		<div class="ncs-top-panel hide">
			<ol>
			</ol>
		</div>
		<p>
			<a href="http://b2b2c.leimingtech.com/leimingtech-front/store/shop?storeId=9" onclick="initDataList2();" target="_blank">查看本店其他商品</a>
		</p>
	</div>
</div>

			
		</aside>
  		<div class="clear"></div>
   	</section>
</article>
<div class="clear"></div>

<script type="text/javascript" src="./detail/jquery.cookie.js"></script>
<script type="text/javascript" src="./detail/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="./detail/jquery.mousewheel.js"></script>
<script type="text/javascript" src="./detail/jquery.masonry.js"></script>
<script type="text/javascript" src="./detail/jquery.scrollLoading-min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        //实现图片慢慢浮现出来的效果
        jQuery("img").load(function () {
            //图片默认隐藏
            jQuery(this).hide();
            //使用fadeIn特效
            jQuery(this).fadeIn("5000");
        });
        // 异步加载图片，实现逐屏加载图片
        jQuery(".scrollLoading").scrollLoading();
    });
</script>
<script type="text/javascript">
    var PRICE_FORMAT = '&yen;%s';
    jQuery(function () {
        //首页左侧分类菜单
        jQuery(".category ul.menu").find("li").each(
                function () {
                    jQuery(this).hover(
                            function () {
                                var cat_id = jQuery(this).attr("cat_id");
                                var menu = jQuery(this).find("div[cat_menu_id='" + cat_id + "']");
                                menu.show();
                                jQuery(this).addClass("hover");
                                if (menu.attr("hover") > 0) return;
                                menu.masonry({itemSelector: 'dl'});
                                var menu_height = menu.height();
                                if (menu_height < 60) menu.height(80);
                                menu_height = menu.height();
                                var li_top = jQuery(this).position().top;
                                if ((li_top > 60) && (menu_height >= li_top)) jQuery(menu).css("top", -li_top + 50);
                                if ((li_top > 150) && (menu_height >= li_top)) jQuery(menu).css("top", -li_top + 90);
                                if ((li_top > 240) && (li_top > menu_height)) jQuery(menu).css("top", menu_height - li_top + 90);
                                if (li_top > 300 && (li_top > menu_height)) jQuery(menu).css("top", 60 - menu_height);
                                if ((li_top > 40) && (menu_height <= 120)) jQuery(menu).css("top", -5);
                                menu.attr("hover", 1);
                            },
                            function () {
                                jQuery(this).removeClass("hover");
                                var cat_id = jQuery(this).attr("cat_id");
                                jQuery(this).find("div[cat_menu_id='" + cat_id + "']").hide();
                            }
                    );
                }
        );
        jQuery(".head-user-menu dl").hover(function () {
                    jQuery(this).addClass("hover");
                },
                function () {
                    jQuery(this).removeClass("hover");
                });
        jQuery('.head-user-menu .my-mall').mouseover(function () {// 最近浏览的商品
            load_history_information();
            jQuery(this).unbind('mouseover');
        });
        jQuery('.head-user-menu .my-cart').hover(function () {// 运行加载购物车
            	load_cart_information();
        	},function(){
        		jQuery(this).unbind('cart-hover');
        	}
        );
    });
</script>
<script language="javascript">
    var searchTxt = ' 请输入您要搜索的商品关键字';
    function searchFocus(e) {
        if (e.value == searchTxt) {
            e.value = '';
            jQuery('#keyword').css("color", "");
        }
    }
    function searchBlur(e) {
        if (e.value == '') {
            e.value = searchTxt;
            jQuery('#keyword').css("color", "#999999");
        }
    }
    function searchInput() {
        if (jQuery('#keyword').val() == searchTxt)
            jQuery('#keyword').attr("value", "");
        return true;
    }
    jQuery('#keyword').css("color", "#999999");
</script>
<script language="javascript">
    // 加载购物车信息
    function load_cart_information() {
        jQuery.post('http://b2b2c.leimingtech.com/leimingtech-front/cart/cart', function (data) {
            if (data.success) {
                var result = data.result;
                jQuery('.addcart-goods-num').html(result.goodsNum);
                var html = '';
                if (result.goodsNum > 0) {
                    html += "<div class='incart-goods'>";
                    var i = 0;
                    var data = result['list'];
                    for (i = 0; i < data.length; i++) {
                        html += "<dl id='cart_item_" + data[i]['specId'] + "' count='" + data[i]['goodsNum'] + "'>";
                        html += "<dd class='goods-thumb'><span class='thumb size40'><i></i><img src='http://image.leimingtech.net" + data[i]['goodsImages'] + "' title='" + data[i]['goodsName'] + "'  ></span></dd>";
                        //onload='javascript:DrawImage('this',40,40);'     图片缩放
                        html += "<dt class='goods-name'><a href='http://b2b2c.leimingtech.com/leimingtech-front/product/detail?id=" + data[i]['goodsId'] + "' title='" + data[i]['goodsName'] + "' target='_top'>" + data[i]['goodsName'] + "</a></dt>";

                        html += "<dd class='goods-price'><p>&yen;" + number_format(data[i]['goodsPrice'],2) + "×" + data[i]['goodsNum'] + "</p><dd class='handle'><a  href='javascript:void(0)' onClick='deleteTopCart(" + data[i]['goodsId'] + "," + data[i]['specId'] + ");'>删除</a></dd>";
                        html += "</dl>";
                    }
                    html += "<div colspan='3' class='checkout'><span class='total-price'>共<i>" + result.goodsNum + "</i>种商品   金额总计：<em>&yen;" + number_format(result.goodsTotalPrice,2) + "</em></span><span class='btn-cart' ><a href='http://b2b2c.leimingtech.com/leimingtech-front/cart/index' target='_top' title='结算商品' style='color: #FFF;' >结算购物车中的商品</a></span></div>";
                } else {
                    html = "<div class='incart-goods'><div class='no-order'><span>您的购物车中暂无商品，赶快选择心爱的商品吧！</span></div><div class='checkout' ></div></div>";
                }
                jQuery(".incart-goods-box").html(html);
            } 
        });
    }
    
    //导航删除购物车信息
    function deleteTopCart(goodsId,specId){
    	var tr = jQuery('#cart_item_' + specId);
    	var amount_span = jQuery('#cart_amount');
        var cart_goods_kinds = jQuery('.addcart-goods-num');
    	jQuery.ajax({
            url: 'http://b2b2c.leimingtech.com/leimingtech-front/cart/deleteCart',
            type: 'POST',
            data: {'goodsId': goodsId, 'specId': specId},
            dataType: "json",
            success: function (data) {
            	if(data.success){
            		var result = data.result;
            		if (result.goodsNum == 0) {
	                    jQuery('.addcart-goods-num').html('0');
	                    var html = '';
	                    html = "<div class='incart-goods'><div class='no-order'><span>您的购物车中暂无商品，赶快选择心爱的商品吧！</span></div><div class='checkout' ><a href='#?act=cart'  title='结算商品' class='btn-cart' >结算购物车中的商品</a></div></div>";
	                    jQuery(".incart-goods-box").html(html);
	                    html = "<div class='addcart-goods-num'>0</div>";
	                }
	                else {
	            		tr.remove();
	            		amount_span.html(price_format(result.goodsTotalPrice));  //刷新总费用
	                    cart_goods_kinds.html(result.goodsNum);  //刷新商品种类
                    }
            	}
            }
        });
    } 

</script>
<script type="text/javascript">
/* spec对象 */
function spec(id, spec, price, stock){
    this.id    = id;
    this.spec  = spec;
    this.price = price;
    this.stock = stock;
}
/* goodsspec对象 */
function goodsspec(specs, specQty, defSpec){
    this.specs = specs;
    this.specQty = specQty;
    this.defSpec = defSpec;
    this.spec1 = null;
    this.spec2 = null;
    this.spec3 = null;
    this.spec4 = null;
    if (this.specQty >= 1){
        for(var i = 0; i < this.specs.length; i++){
            if (this.specs[i].id == this.defSpec){
                  this.spec1 = this.specs[i].id;
                  this.spec2 = this.specs[i].spec;
                  this.spec3 = this.specs[i].price;
                  this.spec4 = this.specs[i].stock;
                  break;
            }
        }
    }


    // 取得选中的spec
    this.getSpec = function(){
        for (var i = 0; i < this.specs.length; i++){
              if (this.specs[i].spec != this.spec2) continue;
              return this.specs[i];
        }
        return null;
    }

}

var specs = new Array();
var source_goods_price = '133';
var specQty;
var defSpec = '629';
var goodsspecc;

//异步请求获得sku信息
function getSku(callbackfunction){
	var url = "http://b2b2c.leimingtech.com/leimingtech-front/product/goodsSpecs";
	var args = {"goodsId":jQuery("#goodsId").val()};
	jQuery.post(url, args, function(data){
		//goodsSpecs是个list
		var goodsSpecs = data.goodsSpecs;
		specs = new Array();
		for(var i = 0; i < goodsSpecs.length; i++){
			var goodsSpec = goodsSpecs[i];
			//alert(goodsSpec.specGoodsStorage);
			//alert(goodsSpec.specValueIdStr);
			if(goodsSpec.specValueIdStr==null){
				specs.push(new spec(goodsSpec.goodsSpecId, 
						"",
						goodsSpec.specGoodsPrice, 
						goodsSpec.specGoodsStorage));
			}else{
				specs.push(new spec(goodsSpec.goodsSpecId, 
						goodsSpec.specValueIdStr.split(","), 
						goodsSpec.specGoodsPrice, 
						goodsSpec.specGoodsStorage));
			}
			
		}
		specQty = goodsSpecs.length;
		goodsspecc = new goodsspec(specs, specQty, defSpec);
		if(callbackfunction != undefined){
			callbackfunction();
		}
	});
}

function init(){
	getSku(function(){
		var tatolStorage = 0;
		//alert(specQty);
		//计算总库存
		if(specQty==1){
			//alert(specs[0].stock);
			tatolStorage = specs[0].stock;
		}else{
			 for(var i = 0; i < specQty; i++){
				//alert("spec:"+specs[i]);
				//alert("stock:"+specs[i].stock);
				tatolStorage += parseInt(specs[i].stock);
			}
		}
		
		jQuery("[nctype=goods_stock]").html(tatolStorage);
		});
	//切换的tab
	var tab = 0;
	//异步地址
	var url = "";
	if(tab==0){
		url = 'http://b2b2c.leimingtech.com/leimingtech-front/product/goodsBody';
	}
	if(tab==1){
		url = 'http://b2b2c.leimingtech.com/leimingtech-front/product/saleRecord';		
	}
	if(tab==2){
		url = 'http://b2b2c.leimingtech.com/leimingtech-front/product/evaluateGoods';
	}
	
	//参数
	var agrs = {
			"goodsId":jQuery("#goodsId").val()
	};
	//异步加载table
	jQuery.post(url, agrs, function(data){
		jQuery("#table1").append(data);
	});
}
//切换table
function changeTable(obj,pageNo){
	var tableId = jQuery(obj).attr("toTable");
	var toAction = jQuery(obj).attr("toAction");
	
	//清空所有table
	jQuery("[name=goodsTable]").each(function(){
		//取消所有table标题按钮颜色
		jQuery("#categorymenu").find("li").each(function(){
			jQuery(this).removeClass("current");
		});
		jQuery(this).empty();
	});
	
	//设置当前table标题按钮class
	jQuery(obj).parent().attr("class", "current");
	
	//异步地址
	var url = 'http://b2b2c.leimingtech.com/leimingtech-front/product/' + toAction;
	
	
	//参数
	if(pageNo !=''){
		var agrs = {
				"goodsId":jQuery("#goodsId").val(),
				"pageNo":pageNo
		};
	}else{
		var agrs = {
				"goodsId":jQuery("#goodsId").val()
		};
	}
	//异步加载table
	jQuery.post(url, agrs, function(data){
		jQuery(tableId).append(data);
	});
}
jQuery(function(){
	//初始化
	init();
	//当点击table需要切换的时候
	jQuery("[name=table]").click(function(){
		changeTable(this);
	});
	saveGoodsCookie();//调用保存cookie的方法
});


/* 选中某规格 num=1,2 */
function selectSpec(num, liObj, SID){
	getSku();
	//选择颜色规格的时候,颜色图片会再左边的图片框改变
	if(jQuery(liObj).attr("spId") == "1"){
		jQuery("#bigImage").attr("src",jQuery(liObj).children().attr("src"));
	}
    jQuery(liObj).addClass("hovered");
    jQuery(liObj).parents('li').siblings().find('a').removeClass("hovered");
    var sign = 't';
    var spValueId = "";
    jQuery('ul[nctyle="ul_sign"]').each(function(){
		if(jQuery(this).find('.hovered').html() == null ){
			sign = 'f';
		}
		spValueId += jQuery(this).find('.hovered').attr("spValueId") +",";
    });
	spValueId = spValueId.substring(0, spValueId.length-1);
	goodsspecc['spec2'] = spValueId;
	var spec = goodsspecc.getSpec();
    if (spec != null && sign == 't'){
        jQuery('[nctype="goods_price"]').html("&yen;"+spec.price);
        //限时折扣价格
         jQuery('[nctype=goods_stock]').html(spec.stock);
        if(parseInt(spec.stock) == 0){
        	jQuery('[nctype="goods_prompt"]').show().html('<dt>提示：</dt><dd><em class="no fl">所选规格库存量不足，请选择其它规格购买。</em></dd>');
        }else{
            SP_V = '';
            jQuery('ul[nctyle="ul_sign"]').find('li > .hovered').each(function(i){
				SP_V += jQuery(this).text()+'，';
            });
            SP_V = SP_V.substr(0,SP_V.length-1);
        	jQuery('[nctype="goods_prompt"]').show().html('<dt>提示：</dt><dd><em class="yes fl">您选择了：'+SP_V+'</em></dd>');
        	jQuery("#goodsSpecId").attr("value", spec.id);
        }
     }
}


function saveGoodsCookie(){
      //保存商品的cookie信息
	 var goodsId='27';
	 var goodsName='玫恋雅2015夏季新款韩版百搭气质女装复古文艺短袖圆领棉麻连衣裙 女88 绿 色 L';
	 var goodsImage='/upload/img/store/9/1449548347835.jpg';
	 var goodsStorePrice='133';
	 
	 
	 //获取用户历史浏览记录，如果已经存在浏览历史，则分析历史记录的cookie信息（JSON数据格式），获取记录长度。
	 var canAdd = true; //初始可以插入cookie信息 
	 var hisGoods = jQuery.cookie("hisGoods"); 
	 var len = 0; 
	 if(hisGoods){ 
	    hisGoods = eval("("+hisGoods+")"); 
	    len = hisGoods.length; 
	 } 
	 
	 //如果浏览历史cookie信息已经存在，则遍历cookie信息，对比当前文章标题，如果cookie信息中已经存在当前文章标题，则中止程序，不做任何操作
	 jQuery(hisGoods).each(function(){
	    if(this.goodsId == goodsId){
	        canAdd = false; //已经存在，不能插入
	        return false;
	    } 
      });
	// 如果浏览历史cookie中不存在当前文章，则可以像浏览历史cookie中插入当前文章的cookie信息。
	//此时需要构建json数据，将已有的浏览记录cookie和当前页面的cookie信息已经组合成JSON数据，然后通过jQuery.cookie()方法写入到浏览历史记录中
	if(canAdd==true){ 
		var json = "["; 
		var start = 0; 
	    if(len>4){start = 1;} 
	    for(var i=start;i<len;i++){ 
	        json = json + "{\"goodsId\":\""+hisGoods[i].goodsId+"\",\"goodsName\":\""+hisGoods[i].goodsName+"\",\"goodsImage\":\""+hisGoods[i].goodsImage+"\",\"goodsStorePrice\":\""+hisGoods[i].goodsStorePrice+"\"},"; 
	    } 
	    json = json + "{\"goodsId\":\""+goodsId+"\",\"goodsName\":\""+goodsName+"\",\"goodsImage\":\""+goodsImage+"\",\"goodsStorePrice\":\""+goodsStorePrice+"\"}]";
	    jQuery.cookie("hisGoods",json,{expires:7,path:'/'});//expires 保存cookie的天数
	}
	
	//5、接下来，我们就要在需要展示用户浏览历史记录的cookie信息。在本例对应的demo页面，首先要获取浏览历史cookie：
	//hisArt的值，然后分析，遍历，组合成字符串输出到页面，代码如下：
}

jQuery("#quantity").change(function(){
	var num = jQuery(this).val();
	if(isNaN(num)){
		jQuery(this).attr("value",1);
	}else{
		var count = parseInt(num);
		var stock = parseInt(jQuery("[nctype=goods_stock]").html());
		if(count > 100){ //购买商品数量上限不能超过100
			jQuery(this).attr("value",100);
		}else if(count > stock){
			jQuery(this).attr("value",stock);
		}else if(count <= 0){
			jQuery(this).attr("value",1);
		}
	}
});

//加减
function caculate(fun){
	var num = jQuery("#quantity").val();
	if(isNaN(num)){
		jQuery("#quantity").attr("value","1");
	}else{
		var count = parseInt(num);
		if(fun == "add"){
			if(count>100){ //购买商品数量上限不能超过100
				jQuery("#quantity").attr("value",100);
			}else if(parseInt(jQuery("[nctype=goods_stock]").html()) == count){
				
			}else{
				jQuery("#quantity").attr("value",count);
			}
		}else if(fun == "cut"){
			if(count == 1){
			}else{
				jQuery("#quantity").attr("value",count);
			}
		}
	}

}
function isPositiveNum(s){//是否为正整数  
   var re = /^[0-9]*[1-9][0-9]*jQuery/ ;  
   return re.test(s)  
} 
// 商品规格选择js部分
var SITE_URL = "http://b2b2c.leimingtech.com/leimingtech-front";
function buy(type){
	var ncspec = jQuery(".nc-spec").find("dl").html(); //判断商品是否存在规格
    var goodsId = jQuery("#goodsId").val(); //商品id
    var goodsNum = parseInt(jQuery("#quantity").val()); //商品数量
    var specId = jQuery("#goodsSpecId").val(); //商品规格id
    if (typeof(ncspec) == "undefined"){ //若商品没有规格,则将默认规格值存入
    	specId = 629;
    }
    if(!isPositiveNum(goodsNum)){
    	layer.msg("请填写正确的购买数量" , {icon:2,time:1000});
        jQuery("#quantity").val('1');
        return;
    }
    max = parseInt(jQuery('[nctype="goods_stock"]').text());
    if(goodsNum > max){
    	layer.msg("库存不足,请您重新选择商品数量" , {icon:2,time:1000});
    	return;
    }
    if(specId != ''){
    	jQuery.ajax({
	    	url : "http://b2b2c.leimingtech.com/leimingtech-front/cart/saveCart",
	        type : 'post',
	        data : {'goodsId' : goodsId,'count' : goodsNum, 'specId' : specId},
	        dataType : 'json',
	        success : function(data){
	        	if(data.success=='true'){
	        		layer.msg("加入购物车成功",{icon:1,time:1000});
	        		var num = jQuery(".addcart-goods-num").html(); //右侧购物车原有数量
	        		//更新购物车数量
	        		jQuery(".addcart-goods-num").html(goodsNum*10/10+num*10/10);
	        	}else{
	        		layer.msg(data.msg,{icon:2,time:1000});
	        	}
	        }
	    });
    }else{
    	layer.msg("请选择商品规格",{icon:2,time:1000});
    }
   	
}

function class_list(obj){
	var stc_id=jQuery(obj).attr('span_id');
	var span_class=jQuery(obj).attr('class');
	if(span_class=='ico-block') {
		jQuery("#stc_"+stc_id).show();
		jQuery(obj).html('<em>-</em>');
		jQuery(obj).attr('class','ico-none');
	}else{
		jQuery("#stc_"+stc_id).hide();
		jQuery(obj).html('<em>+</em>');
		jQuery(obj).attr('class','ico-block');
	}
}
    //浮动导航  waypoints.js
   /*  jQuery('#main-nav-holder').waypoint(function(event, direction) {
        jQuery(this).parent().toggleClass('sticky', direction === "down");
        event.stopPropagation();
    });  */
    
// 立即购买js
function buynow(type){    
	var ncspec = jQuery(".nc-spec").find("dl").html(); //判断商品是否存在规格
    var goodsId = jQuery("#goodsId").val(); //商品id
    var goodsNum = parseInt(jQuery("#quantity").val()); //商品数量
    var specId = jQuery("#goodsSpecId").val(); //商品规格id
    if (typeof(ncspec) == "undefined"){ //若商品没有规格,则将默认规格值存入
    	specId = 629;
    }
    if(!isPositiveNum(goodsNum)){
    	layer.msg("请填写正确的购买数量" , {icon:2,time:1000});
        jQuery("#quantity").val('1');
        return;
    }
    max = parseInt(jQuery('[nctype="goods_stock"]').text());
    if(goodsNum > max){
    	layer.msg("库存不足,请您重新选择商品数量" , {icon:2,time:1000});
    	return;
    }
    if(specId != ''){
    	if(isLogin){ //判断是否登录
	   		jQuery.ajax({
		    	url : "http://b2b2c.leimingtech.com/leimingtech-front/cart/buyNow",
		        type : 'post',
		        data : {'goodsId' : goodsId,'count' : goodsNum, 'specId' : specId},
		        dataType : 'json',
		        success : function(data){
		        	if(data.success=='true'){
		        		window.location = "http://b2b2c.leimingtech.com/leimingtech-front/cart/gotoOrder?cartIds="+data.cartIds;
		        	}else{
		        		layer.msg(data.msg,{icon:2,time:1000});
		        	}
		        }
		    });
		}else{
    		location.href="http://b2b2c.leimingtech.com/leimingtech-front/login";
    	}
    }else{
    	layer.msg("请选择商品规格",{icon:2,time:1000});
    }
}
</script> 
<script type="text/javascript" src="./detail/jquery.raty.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery('#raty').raty({
            path: "http://b2b2c.leimingtech.com/leimingtech-front/res/js/jquery.raty/img",
			readOnly: true,
            width: 80,
            score: function() {
          return jQuery(this).attr('data-score');
        }
        });
    });
</script>
<script>
    //收藏分享处下拉操作
    jQuery.divselect = function(divselectid,inputselectid) {
      var inputselect = jQuery(inputselectid);
      jQuery(divselectid).mouseover(function(){
          var ul = jQuery(divselectid+" ul");
          ul.slideDown("fast");
          if(ul.css("display")=="none"){
              ul.slideDown("fast");
          }
      });
      jQuery(divselectid).live('mouseleave',function(){
          jQuery(divselectid+" ul").hide();
      });
    };
	jQuery(function(){
	    // 加入购物车
	    jQuery('a[nctype="addcart_submit"]').click(function(){
	        addcart(146, checkQuantity());
	    });
	    // 立即购买
	    jQuery('a[nctype="buynow_submit"]').click(function(){
	        buynow(146,checkQuantity());
	    });
	
	    //浮动导航  waypoints.js
	    jQuery('#main-nav').waypoint(function(event, direction) {
	        jQuery(this).parent().parent().parent().toggleClass('sticky', direction === "down");
	        event.stopPropagation();
	    });
	
	    // 分享收藏下拉操作
	    jQuery.divselect("#handle-l");
	    jQuery.divselect("#handle-r");
	
	    // 规格选择
	    jQuery('dl[nctype="nc-spec"]').find('a').each(function(){
	        jQuery(this).click(function(){
	            if (jQuery(this).hasClass('hovered')) {
	                return false;
	            }
	            jQuery(this).parents('ul:first').find('a').removeClass('hovered');
	            jQuery(this).addClass('hovered');
	            checkSpec();
	        });
	    });
	});
</script>

<script>
	jQuery(document).ready(function() {
		jQuery(".credit").raty({
			path : "http://b2b2c.leimingtech.com/leimingtech-front/res/js/jquery.raty/img",
			hints : [ '一般', '不错', "很好", '满意', '非常满意' ],
			readOnly : true,
			width : 100,
			score : function() {
				return jQuery(this).attr("data-score")
			}
		})
	});
	
	jQuery(document).ready(function() {
		var goodsId = jQuery("#goodsId").val();
		jQuery(".nc-key").load("http://b2b2c.leimingtech.com/leimingtech-front/product/goodsinfo?goodsId=" + goodsId);
	});
</script>
<script type="text/javascript" src="./detail/waypoints.js"></script> 

</div>
<ul class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all" id="ui-id-1" tabindex="0" style="z-index: 1; display: none;"></ul>


<!-- main end -->
<script>
	jQuery(".erjimenu").hide();
	jQuery(".dhleft").mouseout(function(){  
     jQuery(".erjimenu").hide();  
    }).mouseover(function(){  
   jQuery(".erjimenu").show()
  }  
);   
</script>
#parse("common/footer.vm")
</body>
</html>