<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Category Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="category-insert.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("categoryName")</label></td>
				<td>
					<input type="text" name="categoryName" id="categoryName"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("pic")</label></td>
				<td>
					<input type="text" name="pic" id="pic"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("desc")</label></td>
				<td>
					<input type="text" name="desc" id="desc"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("pid")</label></td>
				<td>
					<input type="text" name="pid" id="pid"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->