<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>BuyerBrowseHistory Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<table class="table table-striped table-bordered responsive">
	<tr>
		<td><label for="status">#springMessage("pid")</label></td>
		<td>
			$!{buyerbrowsehistory.pid}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("createdDate")</label></td>
		<td>
			$!{buyerbrowsehistory.createdDate}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("buyerId")</label></td>
		<td>
			$!{buyerbrowsehistory.buyerId}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("times")</label></td>
		<td>
			$!{buyerbrowsehistory.times}
		</td>
	</tr>
	<tr>
		<td><label for="status">#springMessage("lastVisitDate")</label></td>
		<td>
			$!{buyerbrowsehistory.lastVisitDate}
		</td>
	</tr>
</table>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->