<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>bofowo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
    <meta name="author" content="Muhammad Usman">

    <!-- The styles -->
    <link id="bs-css" href="css/bootstrap-cerulean.min.css" rel="stylesheet">

    <link href="css/charisma-app.css" rel="stylesheet">
    <link href='bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='css/jquery.noty.css' rel='stylesheet'>
    <link href='css/noty_theme_default.css' rel='stylesheet'>
    <link href='css/elfinder.min.css' rel='stylesheet'>
    <link href='css/elfinder.theme.css' rel='stylesheet'>
    <link href='css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='css/uploadify.css' rel='stylesheet'>
    <link href='css/animate.min.css' rel='stylesheet'>

    <!-- The fav icon -->
    <link rel="shortcut icon" href="img/favicon.ico">
      <link rel="stylesheet" href="assets/css/amazeui.css?v5"/>
  <link rel="stylesheet" href="assets/css/admin.css?v4">
  <link rel="stylesheet" href="css/turnpic-ie.css?12">
  <link rel="stylesheet" href="css/footer.css?12">
  <link rel="stylesheet" href="css/base.css?18">
    <script src="bower_components/jquery/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body style="background:#fff">
#parse("common/header.vm")
<br/><br/>
<div class="ch-container" style="min-height:400px;">

<div class="row" style="width:1000px;margin:0 auto">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-content">
            <ul class="breadcrumb">
			        <h3>入住商城</h3>
			    </ul>
              		<p style="text-align:center;min-height:100px">当前状态正在审核中，请耐心等候。我们将在两周内确认是否通过审核</p>
                <p style="text-align:center;min-height:100px"> <input type="button" class="am-btn am-btn-primary am-btn-xs" value="返回" onclick="javascript:window.location.href='index.htm'"/>
                </p>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->
		 				
    <hr>
</div>
#parse("common/footer.vm")
</body>
</html>
