
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">#springMessage("index")</strong> / <small>#springMessage("seller.item.manage")</small></div>
    </div>
<form id="form1" name="form1">
    <div class="am-g">
      <!--div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
         <span></span><input type="text" class="am-form-field" value="商品编码">
        </div>
      </div>
      
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有类别</option>
            <option value="option2">IT业界</option>
            <option value="option3">数码产品</option>
            <option value="option3">笔记本电脑</option>
            <option value="option3">平板电脑</option>
            <option value="option3">只能手机</option>
            <option value="option3">超极本</option>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有类别</option>
            <option value="option2">IT业界</option>
            <option value="option3">数码产品</option>
            <option value="option3">笔记本电脑</option>
            <option value="option3">平板电脑</option>
            <option value="option3">只能手机</option>
            <option value="option3">超极本</option>
          </select>
        </div>
      </div-->
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">#springMessage("search")</button>
          </span>
        </div>
      </div>
      
      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-form-group">
        </div>
      </div>
      #if($pageInfo.type=='1')
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
           <a class="am-btn am-btn-default" href="provider-item-add.htm"><span class="am-icon-plus"></span> #springMessage("add")</a>
        </div>
    </div>
    #end
</form>
	</div>
    <div class="am-g">
      <div class="am-u-sm-12">
      #if($!pageInfo.totalItem>0) 
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-title">#springMessage("title")</th><th class="table-type">#springMessage("price")</th><th class="table-author am-hide-sm-only">#springMessage("shop.price")</th><th class="table-type">#springMessage("store.number")</th><th class="table-date am-hide-sm-only">#springMessage("create.date")</th><th class="table-set">#springMessage("operation")</th>
              </tr>
          </thead>
          <tbody>
          #foreach($item in $list)
            <tr>
              <td><a href="item-$!{item.id}-detail.htm">$!item.name</a></td>
              <td>320</td>
              <td class="am-hide-sm-only">$!item.shopPrice</td>
              <td>$!item.num</td>
              <td class="am-hide-sm-only">$dateFormat.toDateStr($!item.createdTime)</td>
              <td width="100px">
                <div class="am-btn-toolbar">
                  <div class="am-btn-group am-btn-group-xs">
                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="item-modify-$!{item.id}.htm" title="编辑"><span class="am-icon-pencil-square-o" title="编辑"></span></a>
                    <a class="am-btn am-btn-default am-btn-xs am-text-danger btn-del" title="删除" id="$!item.id"><span class="am-icon-trash-o"></span></a>
                  </div>
                </div>
              </td>
            </tr>
            #end
          </tbody>
        </table>
  <div class="am-pagination">
  
   #pageNavigation($pageInfo,"form1")
   </div>
        </form>
  #else
  		<br/><br/><br/><br/><br/>
		<center>#springMessage("no.data")</center>
  #end 
</div>
</div>
    
<link href='/css/jquery.qtip.min.css' rel='stylesheet'>
<link href='/css/jquery.qtip.css' rel='stylesheet'>
<script src="/js/jquery.qtip.min.js"></script>
<script>
	jQuery(".btn-del").each(function(){jQuery(this).qtip({
		content: {
			text: "#springMessage("confirm")<br/><br/><input type='button' value='#springMessage("delete")' onclick='del("+jQuery(this).attr('id')+")' class='btn btn-danger'>  <input type='button' value='#springMessage("cancel")' class='btn cancel'>",
			title: "#springMessage("delete")",
			button: "#springMessage("cancel")",
		},
		
		position: {
			my: 'bottom right',
			at: 'top center'
		 },
		style: {
			classes: 'qtip-shadow qtip-bootstrap'
		},
		show: {
			event: 'click', // Show it on click...
			solo: true, // ...and hide all other tooltips...
			modal: true // ...and make it modal
		  },
		hide: true,
		events: {
            render: function(event, api) {
                $('.cancel').click(function(e) {
                    api.hide(e);
                });
            },
          //  hide: function(event, api) { api.destroy(); }
        }

	});})
	
	function del(id){
		window.location.href='item-dele-'+id+'.htm';
	}
	
	function filterBtn(){
		$("#form1").submit();
	}
</script>