<style>
.table-main {
	  border: 1px solid #dddddd;
}
</style>
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>交易管理</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-8">
        <div class="am-form-group am-input-group-sm">
         
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
      <ul class="am-tabs-nav am-nav am-nav-tabs">
      	<li class="am-active"><a href="javascript:void(0)">等待发货的订单</a></li>
      	<li><a href="javascript:void(0)">发货中的订单</a></li>
      	<li><a href="javascript:void(0)">已经签收订单</a></li>
      </ul>
        <form class="am-form">
        
        <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check">发货地址</th><th class="table-id">ID</th><th class="table-title">fa'huo</th><th class="table-type">类别</th><th class="table-author am-hide-sm-only">作者</th><th class="table-date am-hide-sm-only">修改日期</th><th class="table-set">操作</th>
              </tr>
          </thead>
          <tbody>
          #foreach($foo in [10000..10005])
          	<tr>
          		<td>2015-09-12</td><td>订单号： 1334312877470269</td><td>飞利浦旗舰店</td><td>商家ID：lygmqb</td><td><a class="am-btn am-btn-default am-btn-xs am-text-secondary" title="备注"><span class="am-icon-pencil-square-o"></span></a></td>
          	</tr>
            <tr>
              <td><image src="/img/huawei_wifi.jpg"></td>
              <td><a href="#">华为E5573联通3G4g无线路由器车载移动随身wifi 电信mifi上网卡宝[交易快照]</a></td>
              <td>default</td>
              <td class="am-hide-sm-only">测试1号</td>
              <td class="am-hide-sm-only">2014年9月4日 7:28:47</td>
            </tr>
         #end
         </tbody>
        </table>
          <div class="am-cf">
  共 15 条记录
  <div class="am-fr">
    <ul class="am-pagination">
      <li class="am-disabled"><a href="#">«</a></li>
      <li class="am-active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>
          <hr />
          <p>注：.....</p>
        </form>
      </div>

    </div>