<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Trade Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="trade-update.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("title")</label></td>
				<td>
					<input type="text" name="title" id="title" value="$!{trade.title}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("total")</label></td>
				<td>
					<input type="text" name="total" id="total" value="$!{trade.total}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("realPay")</label></td>
				<td>
					<input type="text" name="realPay" id="realPay" value="$!{trade.realPay}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status" value="$!{trade.status}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("pic")</label></td>
				<td>
					<input type="text" name="pic" id="pic" value="$!{trade.pic}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("num")</label></td>
				<td>
					<input type="text" name="num" id="num" value="$!{trade.num}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("note")</label></td>
				<td>
					<input type="text" name="note" id="note" value="$!{trade.note}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("productId")</label></td>
				<td>
					<input type="text" name="productId" id="productId" value="$!{trade.productId}"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("shopPrace")</label></td>
				<td>
					<input type="text" name="shopPrace" id="shopPrace" value="$!{trade.shopPrace}"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->