<style>
.table-main {
	  border: 1px solid #dddddd;
}
</style>
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>交易管理</small></div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-2">
        <div class="am-form-group am-input-group-sm">
         <input type="text" class="am-form-field" value="买家ID">
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-2">
        <div class="am-form-group am-input-group-sm">
         <input type="text" class="am-form-field" value="卖家ID">
        </div>
      </div>
      
      <div class="am-u-sm-12 am-u-md-2">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">交易状态</option>
            <option value="option2">等待付款</option>
            <option value="option3">等待发货</option>
            <option value="option3">买家确认收货</option>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有类别</option>
            <option value="option2">IT业界</option>
            <option value="option3">数码产品</option>
            <option value="option3">笔记本电脑</option>
            <option value="option3">平板电脑</option>
            <option value="option3">只能手机</option>
            <option value="option3">超极本</option>
          </select>
        </div>
      </div>
      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>
    </div>

   <div class="am-g">
      <div class="am-u-sm-12">
          <table class="am-table am-table-hover">
            <thead>
              <tr>
                <th class="table-title" width="210px;"><input type="checkbox" id="allPayCheck" name="allPayCheck"/> &nbsp;&nbsp; 图片</th><th class="table-title" width="240px">商品名称</th><th class="table-title" width="60px">价格</th><th class="table-title" width="60px">数量</th><th>规格</th>
              </tr>
          </thead>
          </table>
        #if($!pageInfo.totalItem>0)
          #foreach($item in $!items)
           <table class="am-table am-table-striped table-main">
          <tbody>
          	<tr>
          		<td><input type="checkbox" class="tradeCheckBox tradeBox" id="ck$!{item.id}" name="allTradeCheck" value="$item.id"/></td><td colspan="3">订单号： $item.id </td><td>买家ID：$item.buyerId </td><td>卖家ID：$item.sellerId</td><td> <a class="am-btn am-btn-default am-btn-xs am-text-secondary" title="备注"><span class="am-icon-pencil-square-o"></span></a></td><td>日期：</td><td width="120px"></td>
          	</tr>
          	<tr><td td colspan="7">
          	<table style="width:100%" class="am-table am-table-hover">
          	#foreach($order in $item.orders)
            <tr>
              <td></td>
              <td width="110px"><image src="item-image-$!{StringUtil.getImageId($!{order.pic})}.htm" style="width:100px;height:100px;"></td>
              <td width="220px" colspan="2"><a href="#">$order.title</a><br/><br/>$!order.properties</td>
              <td width="60px">$order.price</td>
              <td style="width:60px">$order.num</td>
            </tr>
            #end
            </table>
            </td>
            <td  style="vertical-align:middle">
            $!TradeUtil.getTradeStatus($!item.status)<br/>
            </td>
            </tr>
            <tr><td colspan="7">收货地址：$!item.receiverProvince $!item.receiverCity $!item.receiverArea $!item.receiverAddr</td><td>总计：$item.realPay</td></tr>
          </tbody>
        </table>
         #end
			#pageNavigation($!pageInfo,'form1')
		#else
			<center>#springMessage("no.data")</center>
		#end
      </div>

    </div>