 <script type="text/javascript" charset="utf-8" src="plugins/ueditor/ueditor.config.js"></script>
 <script type="text/javascript" charset="utf-8" src="plugins/ueditor/ueditor.all.min.js"> </script>
 <script type="text/javascript" charset="utf-8" src="plugins/ueditor/lang/zh-cn/zh-cn.js"></script>    
 <script type="text/javascript" charset="utf-8" src="js/uploadify/ajaxfileupload.js"></script>  
 <script type="text/javascript" charset="utf-8" src="js/ajaxupload-ly.js?v31"></script> 
  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">表单</strong> / <small>商品发布</small></div>
  </div>

  <div class="am-tabs am-margin" data-am-tabs="">
    <ul class="am-tabs-nav am-nav am-nav-tabs">
      <li class="am-active"><a href="#tab1">产品信息</a></li>

    </ul>
 <form action="add-product-detail-insert.htm" method="post" class="am-form am-form-inline">
 <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    <div class="am-tabs-bd" style="touch-action: pan-y; -webkit-user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <div class="am-tab-panel am-active am-fade am-in" id="tab1">
        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">所属类别</div>
          <div class="am-u-sm-8 am-u-md-10">
            <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="categoryAId" id="pid1">
             
              <option value="">请选择分类</option>

				#foreach($cate in $topCates)
					<option value="$cate.id" #if($cate1.id==$cate.id) selected #end >$cate.name</option>
				#end
            </select>
            <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="categoryBId">
              <option value="$!cate2.id">$!cate2.name</option>
              
            </select>
            <select data-am-selected="{btnSize: 'sm'}" style="display: none;" id="categoryId" name="categoryId">
              <option value="$!cate3.id">$!cate3.name</option>
            </select>
           </div>
        </div>

        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">显示状态</div>
          <div class="am-u-sm-8 am-u-md-10">
            <div class="am-btn-group" data-am-button="">
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="radio" name="shopStatus" id="option1" value="sale"> 上架
              </label>
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="radio" name="shopStatus" id="option3" value="store"> 入库
              </label>
            </div>
          </div>
        </div>

        <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">推荐类型</div>
          <div class="am-u-sm-8 am-u-md-10">
            <div class="am-btn-group" data-am-button="">
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="checkbox" name="isRecommend" value="index"> 首页
              </label>
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="checkbox" name="isRecommend" value="top"> 置顶
              </label>
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="checkbox" name="isRecommend" value="recommend"> 推荐
              </label>
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="checkbox" name="isRecommend" value="hot"> 热门
              </label>
              <label class="am-btn am-btn-default am-btn-xs">
                <input type="checkbox" name="isRecommend" value="turn"> 轮播图
              </label>
            </div>
          </div>
        </div>

		 <div class="am-g am-margin-top">
          <div class="am-u-sm-4 am-u-md-2 am-text-right">店铺分类</div>
          <div class="am-u-sm-8 am-u-md-10">
            <select data-am-selected="{btnSize: 'sm'}" style="display: none;" name="shopCategoryId" id="shopCategoryId" onchange="reviewDefineProperties(this.value)">
             
              <option value="">请选择自定义分类</option>
				#foreach($cate in $shopCates)
					<option value="$cate.id">$cate.name</option>
				#end
            </select>
           </div>
        </div>
        
        <div id="shopDefindeProp">
        
        </div>
        
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              商品标题
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="name">
            </div>
            <div class="am-hide-sm-only am-u-md-6">*必填，不可重复</div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              市场价
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
              <input type="text" class="am-input-sm" name="marketPrice">
            </div>
             <div class="am-hide-sm-only am-u-md-6">*必填项</div>
            
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              店铺价格
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="shopPrice">
            </div>
            <div class="am-hide-sm-only am-u-md-6">*如果不填，与市场价格相同</div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              库存数量
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="num" value="1">
            </div>
            <div class="am-hide-sm-only am-u-md-6">*必须大于0，否则自动下架</div>
          </div>

		  <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              邮费模板
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <select name="postId">
              	<option value="0">请选择物流模板</option>
              	#foreach($post in $ptms)
              		<option value="${post.id}">${post.tittle}</option>
              	#end
              </select>
            </div>
            <div class="am-u-sm-12 am-u-md-6">选择邮费模板，或者<a href="transport-tool-add.htm">新建</a>运费模板</div>
          </div>
          
           <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              发布渠道
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="checkbox" name="mChannel" class="cccv" value="false">微信端  &nbsp;&nbsp;&nbsp;
              <input type="checkbox" name="pcChannel"  class="cccv"  value="false">pc端
            </div>
            <div class="am-u-sm-12 am-u-md-6">选择邮费模板，或者<a href="transport-tool-add.htm">新建</a>运费模板</div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              商家自定义编码
            </div>
            <div class="am-u-sm-8 am-u-md-4">
              <input type="text" class="am-input-sm" name="code">
            </div>
            <div class="am-u-sm-12 am-u-md-6">方便商家进行库存管理</div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              上传图片 
            </div>
            <div class="am-u-sm-10 am-u-md-10">
         <div class="am-panel am-panel-default admin-sidebar-panel" style="height: 120px;">
          <div class="am-panel-bd">
          #set($ids="")
          #foreach($pim in $pims)
          #if($ids=="")
          	#set($ids=$pim.id)
          #else
          	#set($ids=$ids+";"+$pim.id)
          #end
          	<div style="float: left;" class="imgdiv" id="imgdiv$pim.id">
          	 <div style="position:relative;">
          	    <img src="item-image-${pim.id}.htm" width="90px" height="90px" class="itemImage" imageId="${pim.id}"/>
          		<input type="button" value="删除" style="position:absolute; top:0; right:0; z-index:99;" onclick="deleteImage('${pim.id}')"/>
          	</div>
          	</div>
          #end
          
          #if($pims.size()<6)
           <div id="fldiv"><a class="fl"><image src="images/add.jpg" height="50px"/><input type="file" id="itemImageFile" name="itemImageFile"  onchange="ajaxFileUpload('$!item.id')"/></a></div>
          #end
          <input type="hidden" name="images" id="images" value="${ids}"/>
         </div>
         </div>
            </div>
            <div class="am-u-sm-12 am-u-md-6">最多上传6张图片，建议上传六张图片</div>
          </div>
          
       

          <div class="am-g am-margin-top-sm">
          
            <div class="am-u-sm-12 am-u-md-12">
            内容描述<br/>
              <script id="editor" name="content" type="text/plain" style="width:800px;height:500px;"></script>
            </div>
          </div>

          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              SEO 标题
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" class="am-input-sm" name="seoTitle">
            </div>
             <div class="am-u-sm-12 am-u-md-6">便于页面被搜索引擎抓取</div>
          </div>

          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              SEO 关键字
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" class="am-input-sm" name="seoKey">
            </div>
             <div class="am-u-sm-12 am-u-md-6">便于页面被搜索引擎抓取</div>
          </div>

          <div class="am-g am-margin-top-sm">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              SEO 描述
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <textarea rows="4" name="seoContent"></textarea>
            </div>
              <div class="am-u-sm-12 am-u-md-6">便于页面被搜索引擎抓取</div>
          </div>

      </div>
	
    </div>
  </div>

  <div class="am-margin">
    <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="发 布"/>
    <a class="am-btn am-btn-primary am-btn-xs" href="provider-item-search-1.htm">取 消</a>
  </div>
 </form>
  <script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
   var ue = UE.getEditor('editor');
   
   function reviewDefineProperties(id){
   	  jQuery.ajax({
  　　	 url: "getShopCateProp.htm?shopCateId="+id,
  　　	 type: "GET",
  　　	 dataType:'html',
  　　	 success:function(data){
			jQuery("#shopDefindeProp").html(data);
			 bindClick();
		 },
  　　    error:function(er){}
  	   });
   }
</script>
  <script>
  function bindClick(){
  	jQuery("#specAllCheck").bind("click",specAllCheck);
	jQuery("#propAllCheck").bind("click",propAllCheck); 
	jQuery(".propCheck").bind("click",propCheckClick);
	jQuery(".specCheck").bind("click",specCheckClick);
  }
  function propCheckClick(){
  	var isAllChecked=true;
  	jQuery(".propCheck").each(function(){
			if(!jQuery(this).is(':checked')){
				isAllChecked=false;
			}
  	});
  	if(isAllChecked){
  		jQuery("#propAllCheck").prop("checked",true);
  	}else{
  		jQuery("#propAllCheck").prop("checked",false);
  	}
  }
  function specCheckClick(){
  	var isAllChecked=true;
  	jQuery(".specCheck").each(function(){
			if(!jQuery(this).is(':checked')){
				isAllChecked=false;
			}
  	});
  	if(isAllChecked){
  		jQuery("#specAllCheck").prop("checked",true);
  	}else{
  		jQuery("#specAllCheck").prop("checked",false);
  	}
  }
 function propAllCheck(){
 	if(jQuery(this).is(':checked')){
 		jQuery(".propCheck").each(function(){
			jQuery(this).prop("checked",true);
  			});
 	}else{
 		jQuery(".propCheck").each(function(){
			jQuery(this).prop("checked",false);
  			});
 	}
 }
 
 function specAllCheck(){
 	if(jQuery(this).is(':checked')){
 		jQuery(".specCheck").each(function(){
			jQuery(this).prop("checked",true);
  		 });
 	}else{
 		jQuery(".specCheck").each(function(){
			jQuery(this).prop("checked",false);
  		});
 	}
 }
 jQuery(".cccv").click(function(){
 	if(jQuery(this).is(":checked")){
 	   jQuery(this).val("true");
 	}else{
 		jQuery(this).val("false");
 	}
 
 });

 </script>
<style>
#editor {
	font-size: 12px;
}
a.fl {position:relative;overflow:hidden;display:inline-block;color:#005197;text-decoration:underline;vertical-align:bottom;*vertical-align:auto}
a.fl input {position:absolute;right:0;top:0;height:100px;opacity:0;filter:alpha(opacity=0);cursor:pointer;cursor:hand}
a.fl:hover {color:#f65100}
</style>
  