<div class="row">
<div class="box col-md-12">
	<div class="box-inner">
		<div class="box-header well" data-original-title="">
			<h2>Account Management</h2>
			<div class="box-icon">
				<a href="#" class="btn btn-minimize btn-round btn-default"><i
						class="glyphicon glyphicon-chevron-up"></i></a>
				<a href="#" class="btn btn-close btn-round btn-default"><i
						class="glyphicon glyphicon-remove"></i></a>
			</div>
		</div>
		<div class="box-content">

<form action="account-insert.htm" method="post"> 
	<table class="table table-striped table-bordered responsive">
															<tr>
				<td><label for="status">#springMessage("username")</label></td>
				<td>
					<input type="text" name="username" id="username"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("password")</label></td>
				<td>
					<input type="text" name="password" id="password"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("point")</label></td>
				<td>
					<input type="text" name="point" id="point"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("isSeller")</label></td>
				<td>
					<input type="text" name="isSeller" id="isSeller"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("status")</label></td>
				<td>
					<input type="text" name="status" id="status"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("level")</label></td>
				<td>
					<input type="text" name="level" id="level"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("avatar")</label></td>
				<td>
					<input type="text" name="avatar" id="avatar"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("score")</label></td>
				<td>
					<input type="text" name="score" id="score"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("wxUsername")</label></td>
				<td>
					<input type="text" name="wxUsername" id="wxUsername"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("alipayUsername")</label></td>
				<td>
					<input type="text" name="alipayUsername" id="alipayUsername"/>
				</td>
			</tr>
											<tr>
				<td><label for="status">#springMessage("jdUsername")</label></td>
				<td>
					<input type="text" name="jdUsername" id="jdUsername"/>
				</td>
			</tr>
						</table>
	<input type="submit" value="#springMessage("save")"/>
</form>

</div><!--box-content end-->
	</div>
</div>
<!--/span-->

</div><!--/row-->