<footer style="background:#24282F;height:260px;">
		<div style="text-align:center;">
        <p class="col-md-12 col-sm-12 col-xs-12 copyright" style="margin-top:60px;">
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-about/id-1" class="external">关于我们 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-contact" class="external">联系我们 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-team" class="external">团队介绍 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-term" class="external">服务协议 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-specification" class="external">项目发起规范 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/partake" class="external">新手帮助 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-center" class="external">帮助中心 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.cn/help-tourongzi" class="external">投融资服务<i>｜</i></a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.com/12.html">收费标准 <i>｜</i> </a>
			<a rel="nofollow" target="_blank" href="http://www.zhongchou.com/member/buy.php">充值</a>
		<div>
		<div>
        <p class="col-md-12 col-sm-12 col-xs-12 copyright" style="margin-top:20px;">
			<span>关注我们：</span>
			<a rel="nofollow" target="_blank" href="http://e.weibo.com/zhongchouwang2013" class="s-05 external"></a>
			<a rel="nofollow" target="_blank" href="http://user.qzone.qq.com/2357291729" class="s-06 external"></a>
			<a rel="nofollow" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&amp;kw=%E4%BC%97%E7%AD%B9%E7%BD%91" class="s-07 external"></a>
			<a rel="nofollow" target="_blank" href="http://www.douban.com/people/zhongchou_cn/" class="s-08 external"></a>
		<div>
		<div>
        <p class="col-md-12 col-sm-12 col-xs-12 copyright" style="margin-top:20px;">
			©2014 北京网信众筹网络科技有限公司 zhongchou.cn 版权所有 京ICP备14016844号
		</p>
    </footer>